<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Product Registration
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content product-registration">
    <h1>Product Registration</h1>
    <p>
      Thank you for registering your Troy-Bilt product! Please take a moment to fill out the survey below.
    </p>
    <form action="#" class="product-registration-survey validate" method="POST">
      <fieldset class="group">
        <h3>Why did you buy this product?</h3>
        <div class="group radio-buttons">
          <div class="col one-third with-gutter">
            <input type="radio" name="buying_reason" value="product brand name" id="reason-brand" /> 
            <label for="reason-brand" class="inline">product brand name</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="buying_reason" value="product features" id="reason-features" /> 
            <label for="reason-features" class="inline">product features</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="buying_reason" value="price" id="reason-price" /> 
            <label for="reason-price" class="inline">price</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-third with-gutter">
            <input type="radio" name="buying_reason" value="retailer" id="reason-retailer" /> 
            <label for="reason-retailer" class="inline">retailer</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="buying_reason" value="engine brand" id="reason-engine" /> 
            <label for="reason-engine" class="inline">engine brand</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="group">
        <h3>How did you learn about this product?</h3>
        <div class="group radio-buttons">
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="advertising" id="discovery-advertising" /> 
            <label for="discovery-advertising" class="inline">advertising</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="newspaper" id="discovery-newspaper" /> 
            <label for="discovery-newspaper" class="inline">newspaper</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="friend/family/word of mouth" id="discovery-friend" /> 
            <label for="discovery-friend" class="inline">friend/family/word of mouth</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="review in a magazine or newspaper" id="discovery-review" /> 
            <label for="discovery-review" class="inline">review in a magazine or newspaper</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="internet site" id="discovery-internet" /> 
            <label for="discovery-internet" class="inline">internet site</label>
          </div>
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="sales person" id="discovery-sales" /> 
            <label for="discovery-sales" class="inline">sales person</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-third with-gutter">
            <input type="radio" name="discovery_source" value="in store display" id="discovery-store-display" /> 
            <label for="discovery-store-display" class="inline">in store display</label>
          </div>
          <div class="col two-third with-gutter">
            <input type="radio" name="discovery_source" value="other" id="discovery-other" /> 
            <label for="discovery-other" class="inline">other</label>
            <input type="text" name="discovery_source_explanation" class="text-input" size="30" maxlength="30" />
          </div>
        </div>
      </fieldset>
      <fieldset class="group">
        <h3>How large is your property?</h3>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="propert_size" value="small (50' x 50')" id="property-size-small" /> 
            <label for="property-size-small" class="inline">small (50' x 50')</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="propert_size" value="medium (75' x 75')" id="property-size-medium" /> 
            <label for="property-size-medium" class="inline">medium (75' x 75')</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="propert_size" value="large (150' x 150')" id="property-size-large" /> 
            <label for="property-size-large" class="inline">large (150' x 150')</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="propert_size" value="over one acre" id="property-size-over-acre" /> 
            <label for="property-size-over-acre" class="inline">over one acre</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="group">
        <h3>Your age:</h3>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="age" value="under 25" id="age-under-25" /> 
            <label for="age-under-25" class="inline">under 25</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="age" value="45 - 54" id="age-45-54" /> 
            <label for="age-45-54" class="inline">45 - 54</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="age" value="25 - 34" id="age-25-34" /> 
            <label for="age-25-34" class="inline">25 - 34</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="age" value="55 - 64" id="age-55-64" /> 
            <label for="age-55-64" class="inline">55 - 64</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="age" value="35 - 44" id="age-35-44" /> 
            <label for="age-35-44" class="inline">35 - 44</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="age" value="65 or older" id="age-65-older" /> 
            <label for="age-65-older" class="inline">65 or older</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="group">
        <h3>Who will be the primary user of the machine in the household?</h3>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="primary_user" value="adult male" id="primary-user-adult-male" /> 
            <label for="primary-user-adult-male" class="inline">adult male</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="primary_user" value="a male teenage" id="primary-user-male-teen" /> 
            <label for="primary-user-male-teen" class="inline">a male teenage</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="primary_user" value="adult female" id="primary-user-adult-female" /> 
            <label for="primary-user-adult-female" class="inline">adult female</label>
          </div>
          <div class="col one-fourth with-gutter">
            <input type="radio" name="primary_user" value="a female teenage" id="primary-user-female-teen" /> 
            <label for="primary-user-female-teen" class="inline">a female teenage</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="group">
        <h3>Who made the buying decision?</h3>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="buying_decision" value="male" id="buying-decision-male" /> 
            <label for="buying-decision-male" class="inline">male</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="buying_decision" value="female" id="buying-decision-female" /> 
            <label for="buying-decision-female" class="inline">female</label>
          </div>
        </div>
        <div class="group radio-buttons">
          <div class="col one-fourth with-gutter">
            <input type="radio" name="buying_decision" value="both" id="buying-decision-both" /> 
            <label for="buying-decision-both" class="inline">both</label>
          </div>
        </div>
      </fieldset>
      <p class="submit">
        <input type="hidden" id="page-title" name="page_title" value="{get_and_set_from_request_params}" />
        <input type="hidden" id="page-url" name="page_url" value="{get_and_set_from_request_params}" />
        <button class="btn btn-red">Submit Survey</button>
      </p>
    </form>
  </section>
</div>