<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Product Registration
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content product-registration">
    <h1>Product Registration</h1>
    <p>
    * Required
    </p>
    <form action="#" class="product-registration-form validate" method="POST">
      <fieldset class="group">
        <div class="infoblock sidebar-widget">
          <h2>Please Read</h2>
          <p>
            Failure to complete and return this registration does not diminish your Warranty rights. This information will be used for market research purposes and to help Troy-Bilt deliver products to better serve our customers. Because we value your privacy, Troy-Bilt will not provide customers specific personal information to third parties without customer consent, and will treat such information as confidential. Troy-Bilt may disclose information to third party for analysis and marketing purposes, but only after the information has been aggregated so as to prevent identification of personal information relating to a particular customer.
          </p>
        </div>
        <p>
          <label for="first-name"><span class="required-flag">*</span> <strong>First Name:</strong></label>
          <input type="text" name="firstName" id="first-name" class="required text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="last-name"><span class="required-flag">*</span> <strong>Last Name:</strong></label>
          <input type="text" name="lastName" id="last-name" class="required text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="company-name"><span class="required-flag">*</span> <strong>Company Name:</strong></label>
          <input type="text" name="companyName" id="company-name" class="required text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="address1"><span class="required-flag">*</span> <strong>Street Address:</strong></label>
          <input type="text" name="address1" id="address1" class="required address1 text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="address2"><strong>Address line 2:</strong></label>
          <input type="text" name="address2" id="address2" class="address2 text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="city"><span class="required-flag">*</span> <strong>City:</strong></label>
          <input type="text" name="city" id="city" class="required city text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="province"><span class="required-flag">*</span> <strong>Province:</strong></label>
          <select name="province" id="province" class="required province">
            <option value="" selected="selected">Select One</option>
            <option value="Alberta">Alberta</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Manitoba">Manitoba</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Northwest Territories">Northwest Territories</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Nunavut">Nunavut</option>
            <option value="Ontario">Ontario</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
            <option value="Quebec">Quebec</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Yukon">Yukon</option>
          </select>
          <span class="field-description"></span>
        </p>
        <p>
          <label for="postal-code"><span class="required-flag">*</span> <strong>Postal Code:</strong></label>
          <input type="text" name="postalCode" id="postal-code" class="required postal-code" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="phone-number"><span class="required-flag">*</span> <strong>Phone Number:</strong></label>
          <input type="hidden" id="phone-number" name="phoneNumber" value="" class="required grouped-phone grouped-field" />
          ( <input type="text" name="phoneNumber1" value="" size="5" maxlength="3" class="grouped-source" /> ) - <input type="text" name="phoneNumber2" value="" size="5" maxlength="3" class="grouped-source" /> - <input type="text" name="phoneNumber3" value="" size="8" maxlength="4" class="grouped-source" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="email-address"><span class="required-flag">*</span> <strong>Email Address:</strong></label>
          <input type="text" name="emailAddress" id="email-address" class="required email text-field" />
          <span class="field-description"></span>
        </p>
      </fieldset>
      <fieldset class="group">
        <div class="infoblock">
          <img src="https://d2i3kjehnny98x.cloudfront.net/rel-1360108173/system/images/2746/original/TroyBilt_ModelPlate.png" alt="serial-number" />
          <p>
            Refer to your Operator Manual for the location of this label.
          </p>
        </div>
        <p>
          <label for="purchased-from"><span class="required-flag">*</span> <strong>Purchased From:</strong></label>
          <select name="purchasedFrom" id="purchased-from" class="required purchased-from">
            <option value="">Select One</option>
            <option value="Canadian Tire">Canadian Tire</option>
            <option value="Independent Dealer">Independent Dealer</option>
          </select>
          <span class="field-description"></span>
        </p>
        <p>
          <label for="date-purchased"><span class="required-flag">*</span> <strong>Date Purchased:</strong></label>
          <input type="hidden" id="date-purchased" name="purchasedDate" value="" class="required grouped-date grouped-field" />
          <select name="purchasedDateMonth" class="grouped-source">
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>                               
          </select>
          <select name="purchasedDateDay" class="grouped-source">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select name="purchasedDateYear" class="grouped-source">
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
            <option value="1984">1984</option>
            <option value="1983">1983</option>
            <option value="1982">1982</option>
            <option value="1981">1981</option>
            <option value="1979">1979</option>
            <option value="1978">1978</option>
            <option value="1977">1977</option>
            <option value="1976">1976</option>
            <option value="1975">1975</option>
            <option value="1974">1974</option>
            <option value="1973">1973</option>
            <option value="1972">1972</option>
            <option value="1971">1971</option>
            <option value="1970">1970</option>
            <option value="1969">1969</option>
            <option value="1968">1968</option>
            <option value="1967">1967</option>
            <option value="1966">1966</option>
            <option value="1965">1965</option>
            <option value="1964">1964</option>
            <option value="1963">1963</option>
          </select>
          <span class="field-description"></span>
        </p>
        <p>
          <label for="product-type"><span class="required-flag">*</span> <strong>Type of Product:</strong></label>
          <select name="productType" id="product-type" class="required product-type">
            <option value="">- Select One -</option>
            <option value="M1">Edger</option>
            <option value="M2">Handheld Product</option>
            <option value="M3">Lawn Tractor</option>
            <option value="M4">Log Splitter</option>
            <option value="M5">Push Mower</option>
            <option value="M6">Self-Propelled Mower</option>
            <option value="M7">Snow Thrower</option>
            <option value="M9">Tiller</option>
            <option value="T1">Wood Chipper, Shredder or Vacuum</option>
            <option value="T2">Zero Turn Rider</option>
          </select>
          <span class="field-description"></span>
        </p>
        <p>
          <label for="factory-number"><span class="required-flag">*</span> <strong>Model Number:</strong> <small>(ex: 13AH762F752)</small></label>
          <input type="text" name="factoryNumber" id="factory-number" class="required factory-number text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="serial-number"><span class="required-flag">*</span> <strong>Serial Number:</strong> <small>(ex: 1K044B40006)</small></label>
          <input type="text" name="serialNumber" id="serial-number" class="required serial-number text-field" />
          <span class="field-description"></span>
        </p>
        <p>
          <label for="end-use"><span class="required-flag">*</span> <strong>End Use:</strong></label>
          <select name="endUse" id="end-use" class="required end-use">
            <option value="">- Select One -</option>
            <option value="R">Residential</option>
            <option value="C">Commercial</option>
          </select>
          <span class="field-description"></span>
        </p>
        <p class="check has-alt-warning">
          <input type="checkbox" name="under14" id="under14" />
          <label for="under14" class="inline">Check here if UNDER 14 years of age.</label>
          <span class="warning hide">To register a product on <a href="http://troybilt.ca">TroyBilt.ca</a> you must be 14 years of age or older.</span>
        </p>
        <div class="infoblock sidebar-widget last">
          <h2>Please Read</h2>
          <p>
            Troy-Bilt takes your privacy very seriously. We collect personal information to better serve our customers and to provide information about our products and services. By engaging in transactions with Troy-Bilt, completing on-line or other forms, or by entering contests, you consent to the collection, use, storage outside of Canada and the disclosure of your personal information in accordance with this Privacy Statement.    
          </p>
        </div>
        <p class="check has-warning">
          <input type="checkbox" name="infoCollection" id="info-collection" checked />
          <label for="info-collection" class="inline">Yes, you may collect my personal information to administer important transactions between us such as: (a) registering your products, maintaining our records to provide you with warranty or other customer service communications; (b) advising you of any product recalls or customer notifications with respect to your product; (c) providing you with services you request and to respond to your comments or requests for information; and, (d) meeting our legal obligations and other legitimate business interests.</label>
          <span class="warning hide">We cannot process your registration without your consent to allow us to store your data. To proceed with registration, please check the consent boxes.</span>
        </p>
        <p class="check has-warning">
          <input type="checkbox" name="marketingList" id="marketing-list" checked />
          <label for="marketing-list" class="inline">Yes, I would like to receive product information related to marketing initiatives and other special promotional offers that may be of interest to me.</label>
          <span class="warning hide">We cannot process your registration without your consent to allow us to store your data. To proceed with registration, please check the consent boxes.</span>
        </p>
      </fieldset>
      <p class="submit">
        <input type="hidden" id="page-title" name="page_title" value="{get_and_set_from_request_params}" />
        <input type="hidden" id="page-url" name="page_url" value="{get_and_set_from_request_params}" />
        <button class="btn btn-red">Register Now</button>
      </p>
    </form>
  </section>
</div>