<script language="javascript" src="//www.troybilt.ca/wcsstore/TroyBilt/javascript/formval.js"></script>
<div id="main" role="main">
  <div class="container">
    <div class="row">
      <div class="interior-page">
        <div class="col four-fifths with-gutter">
          <h2>Registration</h2>
          <p><span class="strongRedText">*</span>required fields</p>
          <form name="Register" method="post" action="UserRegistrationAdd" id="Register">
            <input type="hidden" name="errorViewName" value="UserRegistrationForm">
            <input type="hidden" name="new" value="Y" id="WC_UserRegistrationAddForm_FormInput_new_In_Register_1">
            <input type="hidden" name="storeId" value="40001" id="WC_UserRegistrationAddForm_FormInput_storeId_In_Register_1">
            <input type="hidden" name="catalogId" value="44102" id="WC_UserRegistrationAddForm_FormInput_catalogId_In_Register_1">  
            <input type="hidden" name="personalizedCatalog" value="true" id="WC_UserRegistrationAddForm_FormInput_personalizedCatalog_In_Register_1">
            <input type="hidden" name="URL" value="LogonForm" id="WC_UserRegistrationAddForm_FormInput_URL_In_Register_1">
            <input type="hidden" name="page" value="OwnersCenterView" id="WC_UserRegistrationAddForm_FormInput_page_In_Register_1">
            <input type="hidden" name="registerType" value="G" id="WC_UserRegistrationAddForm_FormInput_registerType_In_Register_1">
            <input type="hidden" name="profileType" value="C" id="WC_UserRegistrationAddForm_FormInput_profileType_In_Register_1">
            <input type="hidden" name="demographicField2" value="0" id="WC_UserRegistrationAddForm_FormInput_demographicField2_In_Register_1">
            <input type="hidden" name="demographicField4" value="0" id="WC_UserRegistrationAddForm_FormInput_demographicField4_In_Register_1">
            <input type="hidden" name="userField2" value="" id="WC_UserRegistrationAddForm_FormInput_field2_In_Register_1">
            <input type="hidden" name="receiveEmail" value="" id="WC_UserRegistrationAddForm_FormInput_receiveEmail_In_Register_1">      
            <input type="hidden" name="challengeQuestion" value="-" id="WC_UserRegistrationAddForm_FormInput_challengeQuestion_In_Register_1">
            <input type="hidden" name="challengeAnswer" value="-" id="WC_UserRegistrationAddForm_FormInput_challengeAnswer_In_Register_1">
            <table class="registration-table" border="0" cellpadding="3" cellspacing="3">
              <tbody>
                <tr>
                  <td>
                    <b><span class="strongRedText">*</span>E-mail:</b>
                  </td>
                  <td>
                    <input size="25" maxlength="50" name="email1" value="" id="email1">
                    <input type="hidden" name="logonId" value="" id="logonId">
                  </td>
                  <td>
                    <div id="inf_email1">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><span class="strongRedText">*</span>Password:</b>
                  </td>
                  <td>
                    <input size="25" maxlength="50" name="logonPassword" type="password" value="" id="logonPassword">
                  </td>
                  <td>
                    <div id="inf_logonPassword">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <div>Password must be a minimum of 6 characters and contain at least 1 number and 1 letter.</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><span class="strongRedText">*</span>Verify password:</b>
                  </td>
                  <td>          
                    <input size="25" maxlength="50" name="logonPasswordVerify" type="password" value="" id="logonPasswordVerify">
                  </td>
                  <td>
                    <div id="inf_logonPasswordVerify">&nbsp;</div>
                  </td>
                </tr>            
                <tr>
                  <td>
                    <b><span class="strongRedText">*</span>First name:</b>
                  </td>
                  <td>
                      <input size="25" maxlength="128" name="firstName" id="firstName" value="" type="text">
                  </td>
                  <td>
                    <div id="inf_firstName">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><span class="strongRedText">*</span>Last name:</b>
                  </td>
                  <td>
                    <input size="25" maxlength="128" name="lastName" id="lastName" value="" type="text">          
                  </td>
                  <td>
                    <div id="inf_lastName">&nbsp;</div>
                  </td>
                </tr>    
                <input type="hidden" name="preferredLanguage" value="-1" id="WC_UserRegistrationAddForm_FormInput_preferredLanguage_In_Register_1">
                <input type="hidden" name="preferredCurrency" value="CAD" id="WC_UserRegistrationAddForm_FormInput_preferredCurrency_In_Register_1">
                <!-- Addition of a checkbox to share information with Troy-Bilt partners -->
                <tr class="product-registration">
                  <td></td>
                  <td>
                    <p class="check has-warning">
                      <input type="checkbox" name="infoCollection" id="info-collection" checked />
                      <label for="info-collection" class="inline">Yes, you may collect my personal information to administer important transactions between us such as: (a) registering your products, maintaining our records to provide you with warranty or other customer service communications; (b) advising you of any product recalls or customer notifications with respect to your product; (c) providing you with services you request and to respond to your comments or requests for information; and, (d) meeting our legal obligations and other legitimate business interests.</label>
                      <span class="warning hide">We cannot process your registration without your consent to allow us to store your data. To proceed with registration, please check the consent boxes.</span>
                    </p>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
                <tr class="product-registration">
                  <td></td>
                  <td>
                    <p class="check has-warning">
                      <input type="checkbox" name="marketingList" id="marketing-list" checked />
                      <label for="marketing-list" class="inline">Yes, I would like to receive product information related to marketing initiatives and other special promotional offers that may be of interest to me.</label>
                      <span class="warning hide">We cannot process your registration without your consent to allow us to store your data. To proceed with registration, please check the consent boxes.</span>
                    </p>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <input type="button" class="register-btn user-registration" value="Register" onclick="javascript:prepareSubmit(document.Register)">
            <!-- Start- JSP File Name: simpleEMarketingSpotDisplay.jsp -->
            <!-- END simpleEMarketingSpotDisplay.jsp -->
          </form>
        </div>
        <div class="col one-fifth">
          <div class="infoblock sidebar-widget last">
            <h2>Please Read</h2>
            <p>
              Troy-Bilt takes your privacy very seriously. We collect personal information to better serve our customers and to provide information about our products and services. By engaging in transactions with Troy-Bilt, completing on-line or other forms, or by entering contests, you consent to the collection, use, storage outside of Canada and the disclosure of your personal information in accordance with this Privacy Statement.    
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>