/* Fixes for IE 7 & IE 8 */


/* Because we are setting font-size at 100% - however the default font size in IE is a bit smaller */
html { font-size:16px; }
/*html { font-size:120%; }*/

/* fix scroll issue in cart dropdown */
.topnav ul li.n5 ul.sub-menu div  {padding-bottom:15px;}

/* contact us dropdown fix */
.topnav ul li.n1 ul.sub-menu a {display:inline-block; zoom:1; padding:0 0 4px 0; margin-top:2px;} 

/* fix text alignment for inputs */
input {vertical-align:bottom; line-height:160%;}

/* fix for My subscriptions page */
.subscriptions .item {width:45%;}

/* interior page clear issue */
.interior-page { zoom: 1; }
.detail-page #left #dropdowns { margin-bottom: 12px; }
.detail-page #left #left_jacket .demo #imagelinks ul li { font-size: 11px; }

/* fix for buttons on product listing */
#buy a, a.add-btn, a.buy-btn { margin: 0; padding: 3px 4px 3px 4px; }
#buy span { margin: 0; padding: 5px 4px 5px 4px; }

/* fix for sign in */
.sign-in-page table { width: 100%; }
.sign-in-page table td.first { width: 100px; }

/* fix for help */
#owner-manual input.owners-btn, input.save-subscriptions { height: 34px; }

/* MODAL fixes */
product-modal img {display:block;}
a.modal-img  {display:block; width:60%; height:60%;}
a.modal-img img {display:block; float:left;}
#sb-wrapper {padding:0; margin:0; width:auto;}

/* footer (ie7 doesn't like inline-block used on elements rendered normally as list or block) */
*+html ul.footer li { display: inline; }
.search input.go-btn { padding-top: 0; }

.pri-sub-nav { width: 99.7%; border: 1px solid #dcdcdc; }
#lawn-nav ul.four, #garden-nav ul.four, #clean-nav ul.four, #tips-nav ul.four { width: 22%; }

*+html .landing-content .product-features li { background: url(/wcpics/TroyBiltUS/en_US/images/raquo.png) 0 3px no-repeat; }

#sb-nav a#sb-nav-close { background: url(/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/closeie.png) 40px 0 no-repeat; }
.icon-list-view { vertical-align: middle; }
.icon-grid-view { vertical-align: middle; }

.one-fourth { width: 24%; }

#customer-reviews li.review .user-info dt {min-height: 30px; clear: both; width: 45%; float: left; }
#customer-reviews li.review .user-info dd {min-height: 30px; clear: right; width: 45%; float: right; }

/* minimal custom layout */
.minimal #site-header { height: 85px; }
.minimal .logo a { margin-top: 0px; }
.minimal .topnav ul { margin: 10px 0 0 0; }
.intro-text { line-height: 35px; }

/* education sub cat gradient */
.category-overview {
  background: url(/wcpics/TroyBiltUS/en_US/images/education-gradient-ie.jpg) 0 bottom repeat-x;
}

