<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="canada"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Troy-Bilt Canada</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/shadowbox.css">
<link media="all" rel="stylesheet" href="/wcsstore/TroyBilt/css/style.css">
<link rel="stylesheet" media="screen" href="/wcsstore/TroyBilt/css/bundle.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="/wcsstore/TroyBilt/css/ie.css" type="text/css" media="screen" /><![endif]-->
<script src="/wcsstore/TroyBilt/javascript/modernizr.2.0.7.js"></script>
</head>
<body>
<div class="container">
  <header id="site-header">
  	<div class="row the-head">
      <div class="logo"><a href="/" title="Troy-Bilt"><img src="/wcpics/TroyBiltUS/en_US/images/troybilt-logo-masked.png" alt="Troy-Bilt logo" title="Troy-Bilt" /></a></div>
      <div class="topnav">
      	<div>
          <ul class="toplinks sf-menu">
            <li class="sign-in"><a href="#" title="sign in" class="sign-in">Sign In</a></li>
            <!--<li class="sign-out"><a href="#" title="sign out" class="sign-out">Sign Out</a></li>-->
            <li class="n1"><a href="#" title="contact us" class="n1 touch">Contact Us</a>
              <ul class="sub-menu">
                <li>
                  <h4>Send an email</h4>
  				        <p><a href="#" title="Submit a question">Submit a question</a> to our support staff.</p>
                  <h4>Call us</h4>
                  <p>Give us a call at 1.800.828.5500<br>Mon - Fri, 8am - 5pm, EST</p>
                  <h4 class="grayed">Chat online</h4>
                  <p class="grayed">Available Mon - Fri, 8am - 5pm, EST</p>
                </li>
              </ul>
            </li>
            <li class="n2"><a href="#" title="find a store" class="n2">Find a Store</a>
              <ul class="sub-menu">
                <li>
                  <h4>In your area:</h4>
                  <p>&#187; <a href="#" title="Lowes">Lowe's</a></p>
                  <p>&#187; <a href="#" title="Find another retailer">Find another retailer</a></p>
                </li>
              </ul>
            </li>
            <li class="n3"><a href="#" title="service" class="n3">Service</a>
              <ul class="sub-menu">
                <li>
                  <h4>In your area:</h4>
                  <form>
                    <fieldset>Zip Code:</fieldset>
                    <input type="text">
                    <fieldset>Distance away:</fieldset>
                    <select name="select-distance">
                      <option value="#">0 - 10 Miles</option>
                      <option value="#">10 - 50 Miles</option>
                      <option value="#">50 Miles+</option>
                    </select>
                    <input type="submit" value="Go" class="go">
                  </form>
                </li>
              </ul>
            </li>
            <li class="n4"><a href="#" title="register a product" class="n4">Register a Product</a></li>
            <li class="n5"><a href="#" title="view cart" class="n5 view-minicart">View Cart</a>
              <script id="minicart-added-template" type="text/html">
  		        <li class="cart-header-item">
                <h2>Added to Cart:</h2>
                <@ if(cart.qty > 0) { @>
    				      <a href="#" title="<@= item_updated.title @>"><img src="<@= item_updated.image @>" title="<@= item_updated.title @>" /></a>
                  <div class="item-info">
                    <p><a href="#" title="<@= item_updated.title @>"><@= item_updated.id @></a></p>
                    <p><@= item_updated.title @><br><@= item_updated.description @></p>
                    <span>
                      <strong>QTY:</strong> <@= item_updated.qty @><br>
                      <strong>Subtotal:</strong> $<@= item_updated.subtotal @><br>
                      <strong>Savings:</strong> $<@= item_updated.savings @>
                    </span>
                  </div>
                  <a href="#" class="remove-item">X</a>
                <@ } else { @>
    				      <p>
                    No items in cart.
    				      </p>
                <@ } @>
    		      </li>
              <li class="cart-total">
                <p><@= cart.qty @> item(s) in cart</p>
                <p class="ctotal">CART SUBTOTAL: <span>$<@= cart.subtotal @></span></p>
              </li>
    		      </script>
    		      <ul class="sub-menu" id="minicart-added-content"></ul>
    		      <script id="minicart-recent-template" type="text/html">
    		        <li class="cart-header-item">
                  <h2>Items in Cart:</h2>
                  <@ if(cart.qty > 0) { @>
                    <@ _.each( items, function(item) { @>	
                    <div class="item-container">							
                      <a href="#" title="<@= item.title @>"><img src="<@= item.image @>" title="<@= item.title @>" /></a>
                      <div class="item-info">
                        <p><a href="#" title="<@= item.title @>"><@= item.id @></a></p>
                        <p><@= item.title @><br><@= item.description @></p>
                        <span>
                          <strong>QTY:</strong> <@= item.qty @><br>
                          <strong>Subtotal:</strong> $<@= item.subtotal @><br>
                          <strong>Savings:</strong> $<@= item.savings @>
                        </span>
                      </div>
                      <a href="#" class="remove-item">X</a>
                    </div>
    				        <@ }); @>
                  <@ } else { @>
    				        <p>
                      No items in cart.
    				        </p>
                  <@ } @>
    		        </li>
                <li class="cart-total">
                  <p><@= cart.qty @> item(s) in cart</p>
                  <p class="ctotal">CART SUBTOTAL: <span>$<@= cart.subtotal @></span></p>
                </li>
    		      </script>
    		      <ul class="sub-menu" id="minicart-recent-content"></ul>
            </li>
          </ul>
          <ul class="flag">
            <li class="usa selected"><a href="#" title="Language: North American English">North America</a></li>
            <li class="en"><a href="#" title="Language: Canadian English">Canadian English</a></li>
            <li class="fr"><a href="#" title="Language: French Canadian">French</a></li>
          </ul>
        </div>
      </div>
      <!-- end top nav -->
      <div class="clear"></div>
      <div class="search">
  			<a href="#" class="chat-btn">LIVE CHAT</a>
        <form>
          <input type="text">
          <input type="submit" value="Go" class="go-btn">
        </form>
      </div>  
    </div>
    <div class="clear"></div>
    <!-- end row -->
    <!-- NAVIGATION -->
    <nav> 
      <ul id="nav">
        <li class="l-care aa pri-nav">
          <a href="/products" class="tab">
            <h2>Lawn Care</h2>
            <p>Moving, Trimming, Edging</p>
          </a>
          <div id="lawn-nav" class="pri-sub-nav">
  		      <div class="buckets group">
  		        <ul class="one">
  		          <li>
                  <h2><a href="#" title="Lawn Care Products">Products</a></h2>
    		          <ul class="product-dropdown">
    		            <li><a href="/products" title="Lawn mowers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TB280-ES_Walk-BehindMower_20120124.jpg">&#187; Lawn mowers</a></li>
    		            <li><a href="/products" title="String trimmers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TB575EC_Trimmer_20120124.jpg">&#187; String trimmers</a></li>
    								<li><a href="#" title="Trimmer Attachments" data-image="/wcpics/TroyBiltUS/en_US/images/nav/GC720_TrimmerPlusCultivator_20120124.jpg">&#187; Trimmer Attachments</a></li>
    		            <li><a href="/products" title="Edgers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TB554_Edger_20120124.jpg">&#187; Edgers</a></li>
    								<li><a href="#" title="where to buy" data-image="">&#187; Where to buy</a></li>
    		          </ul>
    		          <span class="img"></span>
  		          </li>
  		        </ul>                  
  		        <ul class="two">
  		          <li>
                  <h2>Parts Finder</h2>
                  <h3>Know the part number?</h3>
                  <p><label for="oc-part-number">Enter the part number</label></p>
                  <form action="/part-finder-modal.php" method="get" class="frm-part-finder">
                    <input type="text" name="part_number" id="oc-part-number" />
                    <input type="submit" value="Find" class="btn">
                  </form>
                  <h3>Don't know the part number?</h3>
                  <p>Enter the part number</p>
                  <form>
                    <input type="text">
                    <input type="submit" value="Find" class="btn">
                  </form>
                  <p class="redlink">
                    <a href="#">How to locate your model number</a><br />
                    <a href="#">Use our model number selector</a>
                  </p>
                  <p class="redlink">
                    <a href="#" class="video-link">Finding your Troy-Bilt&reg; model number</a>
                  </p>
                </li>          
  		        </ul>                   
  		        <ul class="three">
  		          <li>
                  <h2>Manual Finder</h2>
                  <p>Your model number is required to find your owner's manual.</p>
                  <form method="get" action="/owners-center/operators-manuals-results">
                    <div>
                      <p><strong>Model number</strong></p>
                      <input type="text" name="model_number">
                    </div> 
                    <div class="group">
                      <p><strong>Serial number</strong> (optional)</p>    
                      <input type="text" name="serial_number">
                    </div>
                    <p>
                      The serial number isn’t required, but it can help us get an exact match.
                    </p>
                    <p class="redlink"><a href="#">How to locate your model and serial number</a></p>
                    <input type="submit" value="Find manual" class="btn3">
                  </form>
                </li>
  		        </ul>                   
              <ul class="four">
                <li>
                  <h2>Tips, Advice and How-To's</h2>
                  <ul>
                    <li><a href="#" title="">&#187; Tips on terracing</a></li>
                    <li><a href="#" title="">&#187; Raised bed gardening</a></li>
                    <li><a href="#" title="">&#187; Growing from seeds</a></li>
                    <li><a href="#" title="">&#187; Maintenance schedule and tips</a></li>
                    <li><a href="#" title="">&#187; It's all about the dirt</a></li>
                    <li><a href="#" title="">&#187; More articles and how-to's</a></li>
                  </ul>
                </li>
              </ul>
            </div>
  				</div>
        </li>
        <li class="gard bb pri-nav">
          <a href="/products" class="tab">
            <h2>Gardening</h2>
            <p>Tilling, Cultivating</p>
          </a>
  		    <div id="garden-nav" class="pri-sub-nav">
  		      <div class="buckets group">
  		        <ul class="one">
                <li>
                  <h2><a href="#" title="Gardening Products">Products</a></h2>
                  <ul class="product-dropdown">
                    <li><a href="/products" title="Tillers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/SuperBroncoCRT_Tiller_20120124.jpg">&#187; Tillers</a></li>
                    <li><a href="/products" title="Cultivators" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TB146EC_CultivatorEdger_20120124.jpg">&#187; Cultivators</a></li>
                    <li><a href="/products" title="Garden tools" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TBFT_FlowerTrowel_20120124.jpg">&#187; Garden tools</a></li>
                    <li><a href="/products" title="Hauling carts" data-image="/wcpics/TroyBiltUS/en_US/images/nav/PackHorse_20120124.jpg">&#187; Hauling carts</a></li>
                    <li><a href="#" title="Where to buy" data-image="">&#187; Where to buy</a></li>
                  </ul>
                  <span class="img"></span>
                </li>
  		        </ul>                   
  		        <ul class="two">
  		          <li>
                  <h2>Parts Finder</h2>
                  <h3>Know the part number?</h3>
                  <p><label for="oc-part-number">Enter the part number</label></p>
                  <form action="/part-finder-modal.php" method="get" class="frm-part-finder">
                    <input type="text" name="part_number" id="oc-part-number" />
                    <input type="submit" value="Find" class="btn">
                  </form>
                  <h3>Don't know the part number?</h3>
                  <p>Enter the part number</p>
                  <form>
                    <input type="text">
                    <input type="submit" value="Find" class="btn">
                  </form>
                  <p class="redlink">
                    <a href="#">How to locate your model number</a><br />
                    <a href="#">Use our model number selector</a>
                  </p>
                  <p class="redlink">
                    <a href="#" class="video-link">Finding your Troy-Bilt&reg; model number</a>
                  </p>
                </li>
  		        </ul>                    
  		        <ul class="three">
  		          <li>
                  <h2>Manual Finder</h2>
                  <p>Your model number is required to find
                  your owner's manual.</p>
                  <form method="get" action="/owners-center/operators-manuals-results">
                    <div>
                      <p><strong>Model number</strong></p>
                      <input type="text" name="model_number">
                    </div> 
                    <div class="group">
                      <p><strong>Serial number</strong> (optional)</p>    
                      <input type="text" name="serial_number">
                    </div>
                    <p>
                      The serial number isn’t required, but it can help us get an exact match.
                    </p>
                    <p class="redlink"><a href="#">How to locate your model and serial number</a></p>
                    <input type="submit" value="Find manual" class="btn3">
                  </form>
                </li>
  		        </ul>                   
  		        <ul class="four">
                <li>
  		            <h2>Tips, Advice and How-To's</h2>
  		            <ul>
  		              <li><a href="#" title="Tips on terracing">&#187; Tips on terracing</a></li>
  		              <li><a href="#" title="Raised bed gardening">&#187; Raised bed gardening</a></li>
  		              <li><a href="#" title="Growing from seeds">&#187; Growing from seeds</a></li>
  		              <li><a href="#" title="Maintenance schedule and tips">&#187; Maintenance schedule and tips</a></li>
  		              <li><a href="#" title="It's all about the dirt">&#187; It's all about the dirt</a></li>
  		              <li><a href="#" title="More articles and how-to's">&#187; More articles and how-to's</a></li>
  		            </ul>
  		          </li>
  		        </ul>
  		      </div>
  		    </div>
        </li>
        <li class="clean cc pri-nav">
          <a href="/products" class="tab">
            <h2>Clean Up</h2>
            <p>Leaves, Snow, Brush, Branches</p>
          </a>
  		    <div id="clean-nav" class="pri-sub-nav">
  		      <div class="buckets group">
  		        <ul class="one">
  		          <li>
                  <h2><a href="#" title="Clean Up Products">Products</a></h2>
  		            <ul class="product-dropdown">
                    <li><a href="/products" title="Blowers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TB4HBEC_HandheldBlower_20120124.jpg">&#187; Blowers</a></li>
                    <li><a href="/products" title="Snow throwers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/Storm3090XP_SnowThrower_20120124.jpg">&#187; Snow throwers</a></li>
                    <li><a href="#" title="Log splitters" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TB33LS_LogSplitter_20120124.jpg">&#187; Log splitters</a></li>
  									<li><a href="/products" title="Chipper shredders" data-image="/wcpics/TroyBiltUS/en_US/images/nav/CS4325_ChipperShredder_20120124.jpg">&#187; Chipper shredders</a></li>
  		              <li><a href="/products" title="Chain saws, pole saws, hedge trimmers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/TBCS57_Chainsaw_20120124.jpg">&#187; Chain saws, pole saws,<br />hedge trimmers</a></li>
  									<li><a href="/products" title="Pressure washers" data-image="/wcpics/TroyBiltUS/en_US/images/nav/2500PSI_PressureWasher_20120124.jpg">&#187; Pressure washers</a></li>
  		              <li><a href="/products" title="Hauling carts" data-image="/wcpics/TroyBiltUS/en_US/images/nav/PackHorse_20120124.jpg">&#187; Hauling carts</a></li>
  		              <li><a href="#" title="Where to buy" data-image="">&#187; Where to buy</a></li>
  		            </ul>
  		            <span class="img"></span>
  		          </li>
  		        </ul>                    
  		        <ul class="two">
  		          <li>
                  <h2>Parts Finder</h2>
                  <h3>Know the part number?</h3>
                  <p><label for="oc-part-number">Enter the part number</label></p>
                  <form action="/part-finder-modal.php" method="get" class="frm-part-finder">
                    <input type="text" name="part_number" id="oc-part-number" />
                    <input type="submit" value="Find" class="btn">
                  </form>
                  <h3>Don't know the part number?</h3>
                  <p>Enter the part number</p>
                  <form>
                    <input type="text">
                    <input type="submit" value="Find" class="btn">
                  </form>
                  <p class="redlink">
                    <a href="#">How to locate your model number</a><br />
                    <a href="#">Use our model number selector</a>
                  </p>
                  <p class="redlink">
                    <a href="#" class="video-link">Finding your Troy-Bilt&reg; model number</a>
                  </p>
                </li>          
  		        </ul>                   
  		        <ul class="three">
  		          <li>
                  <h2>Manual Finder</h2>
                  <p>Your model number is required to find
                  your owner's manual.</p>
                  <form method="get" action="/owners-center/operators-manuals-results">
                    <div>
                      <p><strong>Model number</strong></p>
                      <input type="text" name="model_number">
                    </div> 
                    <div class="group">
                      <p><strong>Serial number</strong> (optional)</p>    
                      <input type="text" name="serial_number">
                    </div>
                    <p>
                      The serial number isn’t required, but it can help us get an exact match.
                    </p>
                    <p class="redlink"><a href="#">How to locate your model and serial number</a></p>
                    <input type="submit" value="Find manual" class="btn3">
                  </form>
                </li>
  		        </ul>                    
  		        <ul class="four">
  		          <li>
  		            <h2>Tips, Advice and How-To's</h2>
  		            <ul>
                    <li><a href="#" title="Tips on terracing">&#187; Tips on terracing</a></li>
                    <li><a href="#" title="Raised bed gardening">&#187; Raised bed gardening</a></li>
                    <li><a href="#" title="Growing from seeds">&#187; Growing from seeds</a></li>
                    <li><a href="#" title="Maintenance schedule and tips">&#187; Maintenance schedule and tips</a></li>
                    <li><a href="#" title="It's all about the dirt">&#187; It's all about the dirt</a></li>
                    <li><a href="#" title="More articles and how-to's">&#187; More articles and how-to's</a></li>
                  </ul>
  		          </li>
  		        </ul>
  		      </div>
  		    </div>
        </li>
        <li class="tip dd pri-nav">
          <a href="#" class="tab">
            <h2>Tips Advice &amp; How-To's</h2>
            <p>Articles, Videos, Stories</p>
          </a>
  		    <div id="tips-nav" class="pri-sub-nav">
  		      <div class="buckets group">
  		        <ul class="one">
  		          <li>
                  <h2><a href="#" title="Articles">How-To Library</a></h2>
  		            <ul class="vid">
                    <li><a href="#" title="Lawn Car">Lawn Care</a></li>
  		              <li><a href="#" title="Gardening">Gardening</a></li>
                    <li><a href="#" title="Leaves &amp; Trees">Leaves &amp; Trees</a></li>
                    <li><a href="#" title="Snow">Snow</a></li>
                    <li><a href="#" title="The Dirt eNewsletter"><em>The Dirt</em> eNewsletter</a></li>
                    <li><a href="#" title="All Articles and Videos">All Articles and Videos</a></li>
                  </ul>
  		          </li>
  		        </ul>                   
              <ul class="two">
                <li>
                  <h2><a href="#" title="How-To Videos">The Saturday6&trade;</a></h2>
                  <ul>
                    <li><a href="#" title="Our Little Acre">&#187; <em>Our Little Acre</em></a></li>
                    <li><a href="#" title="Jennah's Garden">&#187; <em>Jennah's Garden</em></a></li>
                    <li><a href="#" title="Hoe &amp; Shovel">&#187; <em>Hoe &amp; Shovel</em></a></li>
                    <li><a href="#" title="A Gardener's Notebook">&#187; <em>A Gardener's Notebook</em></a></li>
                    <li><a href="#" title="My Skinny Garden">&#187; <em>My Skinny Garden</em></a></li>
                    <li><a href="#" title="MyFixItUpLife">&#187; <em>MyFixItUpLife</em></a></li>
                    <li><a href="#" title="Meet The Saturday6&trade;">&#187; Meet The Saturday6&trade;</a></li>
                  </ul>
                </li>
              </ul>                    
  		        <ul class="three">
  		          <li>
  		            <h2><a href="#" title="Email Signup"><em>The Dirt</em> eNewsletter</a></h2>
  		            <p>Have timely lawn and garden tips sent to you each month</p>
                  <ul>
                    <li><a href="#" title="Sign up for The Dirt">&#187; Sign up for <em>The Dirt</em></a></li>
                    <li><a href="#" title="View The Dirt Archives">&#187; View <em>The Dirt</em> Archives</a></li>
                  </ul>
  		            <div class="dirt-mag">Dirt Magazine Cover</div>
  		          </li>
  		        </ul>                    
  		        <ul class="four">
                <li>
                  <h2><a href="#" title="FAQs">Frequently Asked Questions</a></h2>
                  <p>Have a maintenance or repair question? The answer could be in our frequently asked questions.</p>
                  <ul>
                    <li><a href="#" title="Read the FAQs">&#187; Read the FAQs</a></li>
                  </ul>
                </li>
  		        </ul>
  		      </div>
  		    </div>
        </li>
        <li class="o-center ee pri-nav">
          <a href="#" class="tab">
            <h2>Owner's Center</h2>
            <p>FAQs, Parts, Manuals</p>
          </a>
  		    <div id="owners-nav" class="pri-sub-nav">
  		      <div class="buckets group">
  		        <ul class="one">
  		          <li>
                  <h2><a href="#">Owner's Center</a></h2>
                  <ul class="acct">
                    <li><a href="#" title="Owner's Center">&#187; Owner's Center</a></li>
                    <li><a href="#" title="Help">&#187; Help</a></li>
                    <li><a href="#" title="My Troy-Bilt Shed">&#187; My Troy-Bilt Shed</a></li>
                    <li><a href="#" title="Parts &amp; Manual Finder">&#187; Parts &amp; Manual Finder</a></li>
                    <li><a href="#" title="Product Registration">&#187; Product Registration</a></li>
                    <li><a href="#" title="Service Locator">&#187; Service Locator</a></li>
                    <li><a href="#" title="Subscriptions">&#187; Subscriptions</a></li>
                    <li><a href="#" title="FAQs">&#187; FAQs</a></li>
                    <li><a href="#" title="Recalls">&#187; Recalls</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="two">
                <li>
                  <h2><a href="#">My Account</a></h2>
                  <ul class="library">
                    <li><a href="#" title="Sign In / Sign Out">&#187; Sign In / Sign Out</a></li>
                    <li><a href="#" title="Edit My Account Information">&#187; Edit My Account Information</a></li>
                    <li><a href="#" title="Manage Your Subscriptions">&#187; Manage My Subscriptions</a></li>
                    <li><a href="#" title="Order Tracking">&#187; Order Tracking</a></li>
                    <li><a href="#" title="Register Your Product">&#187; Register Your Product</a></li>
                  </ul>
  		          </li>
  		        </ul>                    
  		        <ul class="three">
  		          <li>
  		            <h2>Parts Finder</h2>
  		            <h3>Know the part number?</h3>
  		            <p><label for="oc-part-number">Enter the part number</label></p>
                  <form action="/part-finder-modal.php" method="get" class="frm-part-finder">
                    <input type="text" name="part_number" id="oc-part-number" />
                    <input type="submit" value="Find" class="btn">
                  </form>
  		            <h3>Don't know the part number?</h3>
  		            <p>Enter the model number</p>
                  <form>
                    <input type="text">
                    <input type="submit" value="Find" class="btn">
                  </form>
  		            <p class="redlink">
                    <a href="#">How to locate your model number</a><br />
                    <a href="#">Use our model number selector</a>
                  </p>
                  <p class="redlink">
                    <a href="#" class="video-link">Finding your Troy-Bilt&reg; model number</a>
                  </p>
  		          </li>           
  		        </ul>                    
  		        <ul class="four">
  		          <li>
  		            <h2>Manual Finder</h2>
                  <p>Your model number is required to find
                  your owner's manual.</p>
                  <form method="get" action="/owners-center/operators-manuals-results">
                    <div>
                      <p><strong>Enter the model number</strong></p>
                      <input type="text" name="model_number">
                    </div> 
                    <div class="group">
  		                <p><strong>Enter the serial number</strong> (optional)</p>    
		                  <input type="text" name="serial_number">
                    </div>
                    <p>
                      The serial number isn’t required, but it can help us find an exact match.
                    </p>
                    <p class="redlink"><a href="#">How to locate your model and serial number</a></p>
                    <input type="submit" value="Find manual" class="btn3">
                  </form>
  		          </li>
  		        </ul>
  		      </div>
  		    </div>
        </li>
      </ul>
  	</nav>
    <div class="clear"><!-- --></div>
  </header>
</div>
<%= yield %>
<div class="container footer-section">
	<div class="row">
  	<div class="margins lines">
      <div class="social">
        <span>Se connecter à Troy-Bilt:</span>
        <ul>
          <li><a href="https://www.facebook.com/troybilt" title="Troy-Bilt sur Facebook" class="facebook">Facebook</a></li>
          <li><a href="http://www.youtube.com/user/troybiltllc" title="Troy-Bilt sur YouTube" class="youtube">YouTube</a></li>
          <li><a href="http://www.twitter.com/Troy_Bilt" title="Troy-Bilt sur Twitter" class="twitter">Twitter</a></li>
          <li><a href="http://instagram.com/troybilt" title="Troy-Bilt sur Instagram" class="instagram">Instagram</a></li>
          <li><a href="#{need_URL}" title="Troy-Bilt sur Pinterest" class="pinterest">Pinterest</a></li>
        </ul>
      </div>
      <div class="email-signup">
        <span>Email Signup:</span> 
        <form>
          <input type="text" value="enter your email address" onfocus="if(this.value=='enter your email address'){this.value=''};" onblur="if(this.value==''){this.value='enter your email address'};" >
          <input type="submit" value="Continue" class="email-btn">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container footer-section">
  <div class="row">
    <section>
      <ul class="sitemap">
        <li class="fifth">
          <a href="/products" title="Lawn">
            <div class="img"><img src="/wcpics/TroyBiltUS/en_US/images/mower-test.jpg" /></div>
            <h3>Lawn</h3>
          </a>
          <ul>
          	<li><a href="/products" title="Riding Mowers">&#187; Riding Mowers</a></li>
          	<li><a href="/products" title="Walk-behind mowers">&#187; Walk-behind mowers</a></li>
          	<li><a href="/products" title="Trimmers">&#187; Trimmers</a></li>
          	<li><a href="/products" title="Trimmer attachments">&#187; Trimmer attachments</a></li>
          	<li><a href="/products" title="Leaf blowers">&#187; Leaf blowers</a></li>
          	<li><a href="/products" title="Edgers">&#187; Edgers</a></li>
          </ul>
        </li>
      	<li class="fifth">
          <a href="/products" title="Garden">
            <div class="img"><img src="/wcpics/TroyBiltUS/en_US/images/mower-test.jpg" /></div>
            <h3>Garden</h3>
          </a>	
          <ul>
          	<li><a href="/products" title="Garden tools">&#187; Garden tools</a></li>
          	<li><a href="/products" title="Hauling carts">&#187; Hauling carts</a></li>
          	<li><a href="/products" title="Tillers">&#187; Tillers</a></li>
          	<li><a href="/products" title="Cultivators">&#187; Cultivators</a></li>
          </ul>
        </li>
        <li class="fifth">
        	<a href="/products" title="Trees">
            <div class="img"><img src="/wcpics/TroyBiltUS/en_US/images/mower-test.jpg" /></div>
            <h3>Trees</h3>
          </a>
        	<ul>
            <li><a href="/products" title="Log splitters">&#187; Log splitters</a></li>
            <li><a href="/products" title="Pole saws">&#187; Pole saws</a></li>
            <li><a href="/products" title="Chain saws">&#187; Chain saws</a></li>
            <li><a href="/products" title="Chipper shredders">&#187; Chipper shredders</a></li>
            <li><a href="/products" title="Leaf blowers">&#187; Leaf blowers</a></li>
          </ul>
        </li>
        <li class="fifth">
          <a href="/products" title="Snow">
            <div class="img"><img src="/wcpics/TroyBiltUS/en_US/images/mower-test.jpg" /></div>
            <h3>Snow</h3>
          </a>
          <ul>
            <li><a href="/products" title="Snow throwers">&#187; Snow throwers</a></li>
          </ul>
        </li>
        <li class="fifth">
          <a href="/products" title="Power">
            <div class="img"><img src="/wcpics/TroyBiltUS/en_US/images/mower-test.jpg" /></div>
            <h3>Power</h3>
          </a>
          <ul>
            <li><a href="/products" title="Generators">&#187; Generators</a></li>
            <li><a href="/products" title="Power washers">&#187; Power washers</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>
<div class="container footer-section">
	<div class="row">
    <section>
      <ul class="sitemap">
        <li class="fifth">
          <a href="#" title="Support">
            <h3>Support</h3>
          </a>
          <ul>
          	<li><a href="#" title="Find parts">&#187; Find parts</a></li>
          	<li><a href="#" title="Find manuals">&#187; Find manuals</a></li>
          	<li><a href="#" title="Service locator">&#187; Service locator</a></li>
          	<li><a href="#" title="FAQs">&#187; FAQs</a></li>
          	<li><a href="#" title="Recalls">&#187; Recalls</a></li>
          </ul>
        </li>
        <li class="fifth">	
          <ul class="pad">
            <li><a href="#" title="Register your product">&#187; Register your product</a></li>
            <li><a href="#" title="My Troy-Bilt Shed">&#187; My Troy-Bilt Shed</a></li>
            <li><a href="#" title="Order tracking">&#187; Order tracking</a></li>
            <li><a href="#" title="Contact us">&#187; Contact us</a></li>
          </ul>
        </li>
        <li class="fifth">
          <ul class="pad">
            <li><a href="#" title="Articles">&#187; Articles</a></li>
            <li><a href="#" title="How-to videos">&#187; How-to videos</a></li>
          </ul>
        </li>
        <li class="fifth">
					<!-- -->
        </li>
        <li class="fifth">
          <a href="#" title="Season">
            <h3>Season</h3>
          </a>
          <ul>
            <li><a href="#" title="Spring">&#187; Spring</a></li>
            <li><a href="#" title="Summer">&#187; Summer</a></li>
            <li><a href="#" title="Fall">&#187; Fall</a></li>
            <li><a href="#" title="Winter">&#187; Winter</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>
<!-- END CONTENT -->
<!-- FOOTER -->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <section>
        <ul class="footer">
          <li><a href="#" title="About Troy-Bilt">About Troy-Bilt</a></li>
          <li><a href="#" title="Privacy policy">Privacy policy</a></li>
          <li><a href="#" title="Media information">Media information</a></li>
          <li><a href="#" title="Site map">Site map</a></li>
          <li class="last"><a href="#" title="Contact us">Contact us</a></li>
        </ul>
      </section>
      <span class="copyright">&copy; 2012 Troy-Bilt Products</span>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
<script src="//code.jquery.com/jquery-1.7.min.js"></script>
<script>window.jQuery || document.write('<script src="/wcsstore/TroyBilt/javascript/jquery-1.7.min.js"><\/script>')</script>
<script src="/wcsstore/TroyBilt/javascript/jqModal.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.hoverIntent.minified.js"></script>
<script src="/wcsstore/TroyBilt/javascript/superfish.js?ver=3.2.1"></script>
<script src="/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/shadowbox.js"></script>
<script src="/wcsstore/TroyBilt/javascript/animatedcollapse.js"></script>
<script src="/wcsstore/TroyBilt/javascript/utils.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/underscore-min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.masonry.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/troybilt.js"></script>
<!-- product finder -->
<script src="/wcsstore/TroyBilt/javascript/spin.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jcarousellite_1.0.1.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jQuery.tubeplayer.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/productfinder.js"></script>

</body>
</html>