<%
	action = params['action']
	product_id = params['product_id']
	item_qty = params['item_qty'].to_i
	cart_qty = params['cart_qty'].to_i + item_qty
	cart_subtotal = params['cart_subtotal'].to_f
	
	#some static variables
	older_item = {
		:id => 'OEM-737-2349',
		:subtotal => 57.00,
		:image => '/wcpics/TroyBiltUS/en_US/images/fpo-cart-item.jpg',
		:title => 'OIL:4 - Cycle:SAE',
		:description => '30 20OZ Bottle',
		:savings => 0,
		:qty => 1
	}	
	item_updated_cost = 99.99
	added_item_subtotal = item_updated_cost * item_qty

	item_updated = {
		:id => product_id,
		:subtotal => added_item_subtotal,
		:image => 'http://www.troybilt.com/wcpics/TroyBiltUSUS/en_US/products/15A-3000766_prod.jpg',
		:title => 'TB R16 16" Walk-Behind Reel Mower',
		:description => 'Mulching Reel Push Mower',
		:savings => 0,
		:qty => item_qty
	}
	cart = {
		:subtotal => added_item_subtotal + cart_subtotal,
		:qty => cart_qty
	}
	
	#just returning an empty set for cart init (would not necessarily be the case in production)
	case action
		when 'init'
			cart_info = {
				:cart => {
					:subtotal => 57.00,
					:qty => 1
				},
				:item_updated => {},
				:items => [
					older_item
				]
			}
			%>
			<%= cart_info.to_json %>
			<% 
			false
		when 'add'
			cart_info = {
				:cart => cart,
				:item_updated => item_updated,
				:items => [
					older_item, 
					item_updated
				]
			}
			%>
			<%= cart_info.to_json %>
			<%
			false
		else
			false
	end
%>