<div id="main" class="container tips-advice">
  <div class="page-top has-share group">
    <ul class="share-bar">
      <li>
        <div class="fb-like" data-href="http://troy2013.herokuapp.com/tips-advice-how-tos/article-a" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
      </li>
      <li>
        <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
      </li>
      <li>
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
      </li>
      <li>
        <script type="IN/Share"></script>
      </li>
      <li>
        <a href="/email-friend" rel="shadowbox;width=740;height=420" class="email" title="Email a Friend">Email a Friend</a>
      </li>
      <li class="last">
        <a href="javascript:window.print();" class="print" title="Print this page">Print</a>
      </li>
    </ul>
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/education/<%= @category %>"><%= capitalize_all_words(@category) %></a> 
        > 
        <%= capitalize_all_words(@subcategory) %>
    </div>
  </div><!-- end page top -->
  <section class="category-overview group">
    <div class="description col">
      <h1>Walk-Behind Mowers</h1>
      <p>
        Troy-Bilt® offers a full line of push and self-propelled, walk-behind lawn mowers to maintain lawns of many shapes and sizes. All walk-behind mowers also come with helpful features like the TriAction® cutting system. 
      </p>
      <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-300 med-tall btn-rnd">View the full line of lawn mowers</a>
    </div>
    <div class="pic col">
      <img src="/wcpics/TroyBiltUS/en_US/images/content/walk-behind-cat-overview.png" alt="Walk-behind mower image" />
    </div>
  </section><!-- end category overview -->
  <section class="education-content group">
    <article class="main-col category-features col">
      <div class="intro">
        <h1>How to choose a walk-behind mower</h1>
        <p>
          There are several factors that can narrow your search for a new walk-behind lawn mower. Those include your yard size, type of terrain, and whether or not you want to push the mower.
        </p>
      </div>
      <div class="category-feature first group">
        <h2>Push or self-propelled?</h2>
        <div class="info col">
          <p>
            Walk-behind <strong>push mowers</strong> are best for smaller yards, usually half an acre or less in size. They are also better for flat lawns, because they do not offer help mowing uphill. 
            <a href="#" onclick="alert('link not implemented'); return false" class="more">See all push mowers</a>
          </p>
          <p>
            <strong>Self-propelled</strong> walk-behind mowers are best for yards larger than half an acre in size. They have built-in drive systems, which make it easier to mow up hills and for longer periods of time. 
            <a href="#" onclick="alert('link not implemented'); return false" class="more">See all self-propelled mowers</a>
          </p>
        </div>
        <div class="pic col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/self-propelled-infopic.jpg" alt="Self-Propelled Mower Pic">
          <em class="caption">Consider a self-propelled mower if you have a larger or hilly lawn.</em>
        </div>
      </div>
      <div class="category-feature group">
        <h2>Think about your terrain</h2>
        <div class="info col">
          <p>
            If you have a rough landscape, with a lot of bumps, roots, rocks and hills, look for a walk-behind mower with high rear wheels. They make it easier to roll over uneven and rough yards, and are more maneuverable. Self-propelled mowers also make it easier to tackle.
          </p>
        </div>
        <div class="pic col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/terrain-infopic.jpg" alt="Rear Wheels Pic">
          <em class="caption">Handle hills and obstacles easily with high rear wheels.</em>
        </div>
      </div>
      <div class="category-feature group">
        <h2>Front wheel drive vs. rear wheel drive</h2>
        <div class="info col">
          <p>
            There are two types of drive systems on self-propelled mowers: front wheel drive and rear wheel drive.
          </p>
          <p>
            <strong>Front wheel drive</strong> pulls the walk-behind mower along, and you can keep the drive engaged while making turns. They are best for larger, flat lawns.
            <a href="#" onclick="alert('link not implemented'); return false" class="more">See all front wheel drive mowers</a>
          </p>
          <p>
            <strong>Rear wheel drive</strong> gives you better traction, especially when mowing on hills, uneven terrain or when bagging.
            <a href="#" onclick="alert('link not implemented'); return false" class="more">See all rear wheel drive mowers</a>
          </p>
        </div>
        <div class="pic col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/rear-drive-infopic.jpg" alt="Rear Wheel Drive Pic">
          <em class="caption">Use rear wheel drive for better traction.</em>
        </div>
      </div>
      <div class="category-feature group">
        <h2>Speed controls: single vs. variable speed</h2>
        <div class="info col">
          <p>
            There are several types of speed systems on self-propelled, walk-behind mowers. 
          </p>
          <p>
            <strong>Single-speed systems</strong> have one set speed that can be engaged or disengaged.
          </p>
          <p>
            <strong>Variable-speed systems</strong> allow you to choose your pace.
          </p>
          <ul>
            <li>
              <strong>Normal variable-speed control</strong> lets you adjust your speed by squeezing a lever on the handles.
            </li>
            <li>
              <strong>InStep™ speed control</strong> reacts to the how much you push the mower and adjusts the pace to speed up or slow down. This makes it easier to mow at the perfect speed
            </li>
          </ul>
        </div>
        <div class="pic col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/speed-controls-infopic.jpg" alt="Speed Controls Pic">
          <em class="caption">Variable speed controls allow to you adjust your mowing pace.</em>
        </div>
      </div>
      <div class="category-feature group">
        <h2>The TriAction® cutting system</h2>
        <div class="info col">
          <p>
            This cutting system was engineered to deliver a clean, even cut every time. It also includes an improved bag with a bigger opening to collect and empty clippings more easily. It works in three steps:
          </p>
          <ol>
            <li>
              A <strong>rake guard</strong> stands grass upright for a clean cut.
            </li>
            <li>
              An <strong>S-blade</strong> with a longer stepped cutting edge creates greater lift for a finer cut.
            </li>
            <li>
              The <strong>symmetrical deck</strong> improves airflow and works with the blade to cut clippings more times, producing a finer mulch.
            </li>
          </ol>
          <a href="#" onclick="alert('link not implemented'); return false" class="more">Watch a video about the TriAction cutting system</a>
        </div>
        <div class="pic col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/triaction-cutting-infopic.jpg" alt="TriAction Cutting System Pic">
          <em class="caption">The TriAction cutting system delivers a clean, even cut every time.</em>
        </div>
      </div>
      <div class="category-feature group">
        <h2>Starting options</h2>
        <div class="info col">
          <p>
            You have several options available for starting your walk-behind lawn mower. 
          </p>
          <ul>
            <li>
              <strong>Recoil start</strong> requires you to pull the recoil cord to start the mower.
            </li>
            <li>
              <strong>Electric start</strong> lets you skip the recoil method and start with the push of a button.
            </li>
            <li>
              Mowers with Briggs &amp; Stratton® engines also have the <strong>Starting Promise™</strong>, which means if the walk-behind mower doesn’t start in two pulls, it will be fixed for free.
            </li>
          </ul>
        </div>
        <div class="pic col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/starting-promise-infopic.jpg" alt="Starting Promise Pic">
        </div>
      </div>
      <div class="category-feature group">
        <h2>How We’re Built</h2>
        <div class="info col">
          <p>
            Your work in the yard inspires us to design, test and build the most reliable mowers we possibly can. Take a tour of the Troy-Bilt testing floor and see what it takes to be built for life.
            <a href="#" onclick="alert('link not implemented'); return false" class="more">Watch the How We’re Built walk-behind mower video series</a>
          </p>
        </div>
        <div class="pic col">
          <a href="/tips-advice-how-tos/video-detail"><img src="/wcpics/TroyBiltUS/en_US/images/content/how-built-videolink.jpg" alt="How We're Built Video Thumbnail"></a>
        </div>
      </div>
    </article>
    <aside class="right-sidebar col">
      <a class="espot" title="Watch the video" href="#" onclick="alert('link not implemented'); return false">
        <img alt="How We're Built. See What it Takes to Be Built for Life." src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg">
      </a>
      <div class="sidebar-widget">
        <h2>Related Videos</h2>
        <ul class="videos">
          <li>
            <a href="/tips-advice-how-tos/video-detail">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-video-tmb1.jpg" alt="TB4BP EC Backpack Gas Leaf Blower Full Setup Video Thumbnail" />
              TB4BP EC Backpack Gas Leaf Blower Full Setup
            </a>
          </li>
          <li>
            <a href="/tips-advice-how-tos/video-detail">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-video-tmb2.jpg" alt="Saturday6&trade; – How to Build a Compost Bin" />
              Saturday6&trade; – How to Build a Compost Bin
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-widget">
        <h2>Related Articles</h2>
        <ul class="articles">
          <li><a href="/tips-advice-how-tos/article-b">Your Perfect Lawn: 6 Steps in the Right Direction</a></li>
          <li><a href="/tips-advice-how-tos/article-b">The Difference Between Mulching Blades and High-Lift Blades</a></li>
          <li><a href="/tips-advice-how-tos/article-b">Seasonal Lawn Maintenance Tips</a></li>
        </ul>
      </div>
    </aside>
  </section>
</div><!-- end main -->