<div id="main" class="container tips-advice">
  <div class="page-top group">
    <ul class="share-bar">
      <li>
        <div class="fb-like" data-href="http://troy2013.herokuapp.com/tips-advice-how-tos/article-a" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
      </li>
      <li>
        <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
      </li>
      <li>
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
      </li>
      <li>
        <script type="IN/Share"></script>
      </li>
      <li>
        <a href="/email-friend" rel="shadowbox;width=740;height=420" class="email" title="Email a Friend">Email a Friend</a>
      </li>
      <li class="last">
        <a href="javascript:window.print();" class="print" title="Print this page">Print</a>
      </li>
    </ul>
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <%= capitalize_all_words(@category) %>
    </div>
  </div><!-- end page top -->
  <section class="education-content education-category group">
    <div class="content-header">
      <h1><%= capitalize_all_words(@category) %></h1>
      <div class="cat-image">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/education-gardening-banner.jpg" alt="Banner Image" />
        <div class="caption">
          We’ve been helping gardeners dig in the soil since 1937 – when we built the first tiller. Hard work is what makes a garden successful, and every tiller, cultivator and gardening hand tool is built for years of playing in the dirt.
        </div>
      </div>
    </div><!-- end category header -->
    <article class="main-col col">
      <ul class="categories">
        <li class="group">
          <div class="col pic">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/education-cat-tillers.jpg" alt="Tillers Thumbnail" />
          </div>
          <div class="col description">
            <h2><a href="#" onclick="alert('link not implemented'); return false">Tillers</a></h2>
            <p>
              We built the first tiller in 1937 and have continued to develop a full line of reliable tillers &amp; gardening equipment for gardens of all sizes.
            </p>
            <p>
              <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-200 med-tall btn-rnd">View Products</a>
              <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-140 med-tall btn-rnd">Learn More</a>
            </p>
          </div>
        </li>
        <li class="group">
          <div class="col pic">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/education-cat-cultivators.jpg" alt="Cultivators Thumbnail" />
          </div>
          <div class="col description">
            <h2><a href="#" onclick="alert('link not implemented'); return false">Cultivators</a></h2>
            <p>
              Troy-Bilt® cultivators can help you weed, aerate soil and cultivate in small garden beds and between plants.
            </p>
            <p>
              <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-200 med-tall btn-rnd">View Products</a>
              <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-140 med-tall btn-rnd">Learn More</a>
            </p>
          </div>
        </li>
        <li class="group">
          <div class="col pic">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/education-cat-gardening.jpg" alt="Gardening Tools Thumbnail" />
          </div>
          <div class="col description">
            <h2><a href="#" onclick="alert('link not implemented'); return false">Gardening Tools</a></h2>
            <p>
              Troy-Bilt offers a line of gardening hand tools to help you dig, weed and maintain your garden comfortably - because we know that details matter in your garden.
            </p>
            <p>
              <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-200 med-tall btn-rnd">View Products</a>
              <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-140 med-tall btn-rnd">Learn More</a>
            </p>
          </div>
        </li>
      </ul>
    </article>
    <aside class="right-sidebar col">
      <a class="espot" title="Watch the video" href="#" onclick="alert('link not implemented'); return false">
        <img alt="How We're Built. See What it Takes to Be Built for Life." src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg">
      </a>
      <div class="sidebar-widget">
        <h2>Tips, Advice &amp; How-To’s</h2>
        <ul class="articles">
          <li><a href="#" onclick="alert('link not implemented'); return false">Garden Tiller Operation Tips</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">Garden Tiller Safety Tips</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">Garden Tiller Spring Tune-Up</a></li>
          <li class="more"><a href="#" onclick="alert('link not implemented'); return false"><strong>» View Our Gardening Library</strong></a></li>
        </ul>
      </div>
    </aside>
  </section>
</div><!-- end main -->