<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<!-- 
 Use below for Canada site
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="canada"> 
-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Troy-Bilt</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/shadowbox.css">
<% if (@serve_minified) %>
<link media="all" rel="stylesheet" href="/wcsstore/TroyBilt/style.min.css?v=01312013">
<% else %>  
<link media="all" rel="stylesheet" href="/wcsstore/TroyBilt/css/style.css">
<% end %>
<link rel="stylesheet" media="screen" href="/wcsstore/TroyBilt/css/bundle.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="/wcsstore/TroyBilt/css/ie.css" type="text/css" media="screen" /><![endif]-->
<script src="/wcsstore/TroyBilt/javascript/modernizr.2.0.7.js"></script>
</head>
<body>
<div class="email-form">
  <h1>Email this page to a friend</h1>
  <% if @success %>
  <p class="success">
    Your email(s) have been sent. Your friends should receive them shortly.
  </p>
  <% end %>
  <p>
    Please complete the fields and we'll send your friend an email with a link to this page.
  </p>
  <p>
    * Required
  </p>
  <form action="/email-friend" class="email-friend validate" method="POST">
    <p class="first">
      <label for="friend-emails"><span class="required-flag">*</span> <strong>Friend's Email(s):<br /><small>Maximum of 5</small></strong></label>
      <textarea name="friend_emails" id="friend-emails" class="required email-list text-field"></textarea> 
      <span class="field-description">Separate each email address with a comma</span>
    </p>
    <p>
      <label for="your-name"><span class="required-flag">*</span> <strong>Your Name:</strong></label>
      <input type="text" name="your_name" id="your-name" class="required text-field" />
      <span class="field-description"></span>
    </p>
    <p>
      <label for="your-email"><span class="required-flag">*</span> <strong>Your Email:</strong></label>
      <input type="text" name="your_email" id="your-email" class="required email text-field" />
      <span class="field-description"></span>
    </p>
    <p>
      <input type="checkbox" name="send_copy" id="send-copy" />
      <label for="send-copy" class="inline">Send me a copy of this message.</label>
    </p>
    <p>
      <input type="hidden" id="page-title" name="page_title" value="{get_and_set_from_request_params}" />
      <input type="hidden" id="page-url" name="page_url" value="{get_and_set_from_request_params}" />
      <button class="btn btn-red">Send Email</button>
    </p>
  </form>
</div>
<script src="//code.jquery.com/jquery-1.7.min.js"></script>
<script>window.jQuery || document.write('<script src="/wcsstore/TroyBilt/javascript/jquery-1.7.min.js"><\/script>')</script>
<script src="/wcsstore/TroyBilt/javascript/underscore-min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jqModal.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.hoverIntent.minified.js"></script>
<script src="/wcsstore/TroyBilt/javascript/superfish.js?ver=3.2.1"></script>
<script src="/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/shadowbox.js"></script>
<script src="/wcsstore/TroyBilt/javascript/animatedcollapse.js"></script>
<script src="/wcsstore/TroyBilt/javascript/utils.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.masonry.min.js"></script>
<% if (@serve_minified) %>
<script src="/wcsstore/TroyBilt/troybilt.min.js?v=01312013"></script>
<% else %>  
<script src="/wcsstore/TroyBilt/javascript/troybilt.js"></script>
<% end %>
<!-- product finder -->
<script src="/wcsstore/TroyBilt/javascript/spin.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jcarousellite_1.0.1.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jQuery.tubeplayer.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/productfinder.js"></script>
</body>
</html>