<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Troy-Bilt: Email a Friend</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
  @media screen and (min-width: 600px) {
    #troy-background { padding: 20px !important; }
    #troy-logo {margin-left: 10px !important; margin-top: 10px !important;}
    .troy-title, .troy-social {margin-left:10px !important;margin-right:10px !important;}
    .troy-message {margin-left:10px !important;margin-right:10px !important;margin-bottom: 40px !important;}
  }
    #troy-logo, .troy-title, .troy-message, .troy-social {margin-left:5px; margin-right:5px;}
    /* Client-specific Styles */
    #outlook a { padding: 0; }  /* Force Outlook to provide a "view in browser" button. */
    body { width: 100% !important; }
    .ReadMsgBody { width: 100%; }
    .ExternalClass { width: 100%; display:block !important; } /* Force Hotmail to display emails at full width */
    /* Reset Styles */
    /* Add 100px so mobile switch bar doesn't cover street address. */
    body { background-color: #ffffff; margin: 0; padding: 0; }
    img { outline: none; text-decoration: none; display: block;}
    br, strong br, b br, em br, i br { line-height:100%; }
    h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: blue !important; }
    h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active { color: red !important; }
    /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: purple !important; }
    /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */  
    table td, table tr { border-collapse: collapse; }
    .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
    color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;
    } /* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */
    /* This most probably won't work in all email clients. Don't include <code _tmplitem="113" > blocks in email. */
    code {
      white-space: normal;
      word-break: break-all;
    }
    /* Fonts and Content */
    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; }
    #troy-background { background-color: #e3e3e3; }
    #troy-content { max-width: 600px !important;border: 1px solid #aeafb1;-webkit-font-smoothing: antialiased;}
    #troy-footer { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size: 14px; color: #404040;border-top:1px solid #e3e3e3;}
    .troy-title { font-size:22px; line-height:26px; color:#404040; font-weight:bold; margin-top:18px; margin-bottom:18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; }
    .troy-message { font-size: 16px; line-height: 20px; color: #404040; margin-top: 0px; margin-bottom: 18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; }
  </style>
</head>
<body>
  <table width="100%" cellpadding="10" cellspacing="0" border="0" id="troy-background" bgcolor="#ededed">
	 <tbody>
    <tr>
		  <td align="center">
        <table width="100%" cellpadding="10" cellspacing="0" border="0" id="troy-content">
          <tbody>
            <tr>
              <td bgcolor="#ffffff" id="troy-header">
                <a href="http://troybilt.com" title="Go to troybilt.com">
                  <img id="troy-logo" width="236" src="/wcpics/TroyBiltUS/en_US/images/troy-logo-email.png" alt="Go to troybilt.com" border="0" align="top" style="display: inline">
                </a>
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff">
                <p class="troy-title">
                  Josh Merold has sent you this e-mail from Troy-Bilt
                </p>
                <p class="troy-message">
                  I thought you might be interested in this idea from Troy-Bilt.<br><br>
                  To view this page, click the link below:<br><br>
                  <a href="http://www.troybilt.com/equipment/troybilt/lawn-mowers/mustang-46-zero-turn-riding-lawn-mower-mustang-46" title="Mustang 46 XP Zero-Turn Riding Lawn Mower">Mustang 46 XP Zero-Turn Riding Lawn Mower</a>
                </p>
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" id="troy-footer" valign="middle">
                <h4 class="troy-social" style="margin-top:0px;margin-bottom:8px;font-weight:normal;font-size:16px;">Connect with Us:</h4>
                <span class="troy-social">
                  <a title="Troy-Bilt on Facebook" href="https://www.facebook.com/troybilt" style="margin-right:15px;"><img alt="Facebook" src="/wcpics/TroyBiltUS/en_US/images/facebook-26.png" width="26" height="26" style="display:inline"></a>
                  <a title="Troy-Bilt on YouTube" href="http://www.youtube.com/user/troybiltllc" style="margin-right:15px;"><img alt="YouTube" src="/wcpics/TroyBiltUS/en_US/images/youtube-26.png" width="63" height="26" style="display:inline"></a>
                  <a title="Troy-Bilt on Twitter" href="http://www.twitter.com/Troy_Bilt" style="margin-right:15px;"><img alt="Twitter" src="/wcpics/TroyBiltUS/en_US/images/twitter-26.png" width="26" height="26" style="display:inline"></a>
                  <a title="Troy-Bilt on Instagram" href="http://instagram.com/troybilt" style="margin-right:15px;"><img alt="Instagram" src="/wcpics/TroyBiltUS/en_US/images/instagram-26.png" width="26" height="26" style="display:inline"></a>
                  <a title="Troy-Bilt on Pinterest" href="#{need_URL}"><img alt="Pinterest" src="/wcpics/TroyBiltUS/en_US/images/pinterest-26.png" width="26" height="26" style="display:inline"></a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
	  </tr>
  </tbody>
</table>
</body>
</html>
