<div id="main" class="container landing-page">
  <div class="image-banner">
    <% if params[:banner] && params[:banner] == 'with-actions' %>
    <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-light-grey btn-rnd mapped-btn" data-width="220px" data-height="43px" data-top="349px" data-left="460px">Call to Action 1</a>
    <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-light-grey btn-rnd mapped-btn" data-width="220px" data-height="43px" data-top="349px" data-left="700px">Call to Action 2</a>
    <img src="/wcpics/TroyBiltUS/en_US/images/content/landing-3-banner-tall.jpg" alt="Meet the all-new Neighborhood Rider" />
    <% elsif params[:banner] && params[:banner] == 'tall' %>
    <img src="/wcpics/TroyBiltUS/en_US/images/content/landing-3-banner-tall.jpg" alt="Meet the all-new Neighborhood Rider" />
    <% else %>
    <img src="/wcpics/TroyBiltUS/en_US/images/content/landing-3-banner.jpg" alt="Meet the all-new Neighborhood Rider" />
    <% end %>
  </div>
  <section class="landing-content layout-3">
    <div class="intro-text">
      <h1>Combining the ease and power of a riding mower with the maneuverability and size of a walk-behind, the all-new Neighborhood Rider isn't your typical lawn mower.</h1>
      <p>
        The Neighborhood Rider adjusts to fit you, making yardwork more comfortable. And the its compact size makes storage easy. It's the perfect mower for the person who doesn't need a full-size lawn tractor, but wants the power of one.
      </p>
    </div>
    <div class="group">
      <div class="col one-half product-video">
        <iframe width="390" height="220" src="http://www.youtube.com/embed/hVkNlXGQPZc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col one-half product-features">
        <h2>Neighborhood Rider Features</h2>
        <ul>
          <li>
            <strong>30" cutting deck</strong><br />
            Cut a much wider path than traditional walk-behind mowers with the wide 30" cutting deck.
          </li>
          <li>
            <strong>11.5 Gross HP* Briggs &amp; Stratton&reg; PowerBuilt&trade; OHV engine</strong><br />
            Get the reliable power and starting you need Saturday after Saturday, with this Briggs &amp; Stratton engine. <a href="#" onclick="alert('link not yet implemented'); return false;">Learn more about the Briggs &amp; Stratton engine</a>
          </li>
          <li>
            <strong>Telescoping steering column</strong><br />
            Easily adjust the steering column to the perfect height, so you can mow in comfort.
          </li>
          <li>
            <strong>Breathable, swiveling mesh seat</strong><br />
            Mow without getting too warm, even on the hottest summer days, thanks to the mesh seat. It also swivels to make getting on and off easier.
          </li>
          <li>
            <strong>Compact size</strong><br />
            Storage is no longer a problem with the Neighborhood Rider's compact size. It fits in the same amount of space as a walk-behind mower and maneuvers easily around obstacles.
          </li>
        </ul>
        <div class="cta group">
          <h3 class="cta-text">Want to learn more about the Neighborhood Rider?</h3>
          <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-140">Learn more</a>
          <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-140">Learn more</a>
          <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-140">Learn more</a>
        </div>
      </div>
    </div>
    <p class="caption alignright">
      *as rated by engine manufacturer
    </p>
  </section>
  <div class="where-to-buy group">
    <div class="col hd">
      <h3>Where to Buy:</h3>
    </div>
    <div class="col logo">
      <a href="#" onclick="alert('link not implemented'); return false">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/authorized-dealer.jpg" class="authorized" />
      </a>
    </div>
    <div class="col logo">
      <a href="#" onclick="alert('link not implemented'); return false">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/lowes.png" class="lowes" />
      </a>
    </div>
    <div class="col caption">
      <p>
        Models and pricing may vary per store. Check with your local Lowe’s store for availability and pricing.
      </p>
    </div>
  </div>
</div>