<div id="main" class="container landing-page">
  <div class="image-banner">
    <img src="/wcpics/TroyBiltUS/en_US/images/content/landing-2-banner.jpg" alt="Your lawn has finally met its match" />
  </div>
  <section class="landing-content layout-1">
    <div class="intro-text">
      <h1>Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae cras tempor.</h1>
      <p>
        Whether you prefer a walk-behind lawn mower, a lawn tractor or a zero-turn riding lawn mower, we have plenty of options that will help you accomplish your lawn and garden goals.
      </p>
    </div>
    <div class="group large-briefs">
      <div class="col one-half narrow-gutter">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/promo-riding.jpg" />
        <h2>Riding mowers nam ante nulla interdum vel tristique ac non, tellus.</h2>
        <p>
          Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio.
        </p>
        <div class="group">
          <div class="col one-third">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/promo-riding-tmb.jpg" />
          </div>
          <div class="col two-thirds">
            <p class="pad-left">
              Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pee eu diam. Aliquam iaculis.
            </p>
          </div>
        </div>
      </div>
      <div class="col one-half narrow-left-gutter">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/promo-walk-behind.jpg" />
        <h2>Walk-behind mowers nam ante nulla interdum vel tristique.</h2>
        <p> 
          Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. 
        </p>
        <div class="group">
          <div class="col one-third">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/promo-walk-behind-tmb.jpg" />
          </div>
          <div class="col two-thirds">
            <p class="pad-left">
              Morbi a est quis orci consequat rutrum. Nullam egestas feugiat felis. Integer adipiscing semper ligula. Nunc molestie, nisl sit amet cursus convallis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="group large-briefs">
      <div class="col one-half">
        <p class="aligncenter">
          <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-300">See our line of riding mowers</a>
        </p>
      </div>
      <div class="col one-half">
        <p class="aligncenter">
          <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-300">See our line of walk-behind mowers</a>
        </p>
      </div>
    </div>
  </section>
  <div class="where-to-buy group">
    <div class="col hd">
      <h3>Where to Buy:</h3>
    </div>
    <div class="col logo">
      <a href="#" onclick="alert('link not implemented'); return false">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/authorized-dealer.jpg" class="authorized" />
      </a>
    </div>
    <div class="col logo">
      <a href="#" onclick="alert('link not implemented'); return false">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/lowes.png" class="lowes" />
      </a>
    </div>
    <div class="col caption">
      <p>
        Models and pricing may vary per store. Check with your local Lowe’s store for availability and pricing.
      </p>
    </div>
  </div>
</div>