<div id="main" class="container landing-page">
  <div class="image-banner">
    <img src="/wcpics/TroyBiltUS/en_US/images/content/fall-banner.jpg" alt="Fall cleanup has never been easier" />
  </div>
  <section class="landing-content layout-1" style="background: url(/wcpics/TroyBiltUS/en_US/images/fall-promo-bg.png) 0 0 repeat-y">
    <div class="intro-text with-border">
      <h1>With Troy-Bilt&reg;, it’s a snap to get your yard winter-ready.</h1>
      <p>
        Troy-Bilt&reg; has the products and power you need to get your yard in shape for winter. From chipping to shredding to log splitting to leaf blowing, we have your cleanup needs covered.
      </p>
    </div>
    <div class="landing-brief group">
      <div class="col two-thirds">
        <h2>CSV 060 Chipper Shredder Vacuum</h2>
        <p>
          Powered by a 190cc* OHV Briggs &amp; Stratton&reg; engine, this wood chipper shredder vac combo can turn eight bags of debris into one - and an unkempt lawn into a great-looking one. Ideal for picking up fall leaves and spring yard cleanup.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-380">Learn more about this chipper shredder vacuum</a>
      </div>
      <div class="col one-third alignright">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/chipper.jpg" />
      </div>
    </div>
    <div class="landing-brief group">
      <div class="col two-thirds">
        <h2>27-Ton Hydraulic Log/Wood Splitter</h2>
        <p>
          Armed with a 160cc* OHV Honda engine, cast-iron splitting wedges and heavy duty construction - this machine delivers 27 U.S. tons of ram force. That's enough power to make a stack of firewood out of even your largest trees and logs.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-380">Learn more about this hydraulic log splitter</a>
      </div>
      <div class="col one-third alignright">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/log-splitter.jpg" />
      </div>
    </div>
    <div class="landing-brief group">
      <div class="col two-thirds">
        <h2>2-in-1 Heavy Duty Wood Chipper Shredder</h2>
        <p>
          The bigger the wood chipping and shredding job, the more power you'll need - like the heavy duty CS 4325 chipper shredder. With its bigger 3" chipping capacity and a 10:1 debris reduction ratio, it has all the muscle you need to get the job done.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-380">Learn more about this chipper shredder</a>
      </div>
      <div class="col one-third alignright">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/chipper2.jpg" />
      </div>
    </div>
    <div class="landing-brief group">
      <div class="col two-thirds">
        <h2>25cc*, 4-Cycle Gas Leaf Blower</h2>
        <p>
          Clean up fall leaves quickly and easily with Troy-Bilt's TB4HB EC gas leaf blower. The 25cc, 4-cycle full-crank engine eliminates the need to mix gas and oil, offers up to 150 mph airflow velocity and is JumpStart&trade; compatible.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="btn medium btn-red btn-rnd btn-380">Learn more about this gas leaf blower</a>
      </div>
      <div class="col one-third alignright">
        <a rel="shadowbox;width=500;height=300" href="http://www.youtube.com/embed/9APqo58pdY8">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/leaf-video-tmb.jpg" />
        </a>
      </div>
    </div>
    <p class="caption">
      *as rated by engine manufacturer
    </p>
  </section>
  <div class="where-to-buy group">
    <div class="col hd">
      <h3>Where to Buy:</h3>
    </div>
    <div class="col logo">
      <a href="#" onclick="alert('link not implemented'); return false">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/authorized-dealer.jpg" class="authorized" />
      </a>
    </div>
    <div class="col logo">
      <a href="#" onclick="alert('link not implemented'); return false">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/lowes.png" class="lowes" />
      </a>
    </div>
    <div class="col caption">
      <p>
        Models and pricing may vary per store. Check with your local Lowe’s store for availability and pricing.
      </p>
    </div>
  </div>
</div>