<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Locating Your Model and Serial Number
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content">
    <div class="group locate-model">
      <article class="col">
        <h1>Locating Your Model and Serial Numbers</h1>
        <div class="article-copy">
          <p>
            The model and serial numbers are essential to find correct Troy-Bilt&reg; genuine factory replacement part numbers for your outdoor power equipment. Once you know these numbers, you can use either the illustrated parts look-up tool or the operator’s manual download to easily search for the correct part numbers needed.
          </p>
          <h2>What should my model and serial number look like?</h2>
          <p>
            Troy-Bilt's current (1997 and later) model and serial numbers are generally 11 characters in length. A character could be a number, dash or a letter. If 0 represented all numbers and/or dashes and X represented all letters, the model and serial numbers should appear as follows: <strong>00XX000X000</strong>.
          </p>
          <p>
            These are made of both letters and numbers, and typically look like this: <strong>11AA111A111</strong>.
          </p>
          <div class="aligncenter pad-top pad-bottom">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/hVkNlXGQPZc" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="group">
            <div class="col one-third">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/serial-number.jpg" alt="serial number example" />
            </div>
            <div class="col two-thirds with-left-gutter">
              <h3>Where do I find the model and serial number tags?</h3>
              <p>
                Identification tags are located in areas unlikely to need replacement – even after years of use. For most of our power equipment, these tags are approximately 2" x 3" in size. They also have the Troy-Bilt product’s name, address and customer service phone number listed across the bottom.  
              </p>
            </div>
          </div>
          <div class="group manual-descriptions">
            <div class="col one-third with-gutter">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-handheld.jpg" alt="fpo" />
              <h3>Handheld equipment</h3>
              <p>
                For handheld equipment, the tag is usually white and approximately 1" x 1/2" in size. Handheld ID tags are normally on an aluminum portion of the engine, somewhat set into the unit to protect the label from wear. (A barcode will also be on this tag.)
              </p>
            </div>
            <div class="col one-third with-gutter">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-riding.jpg" alt="fpo" />
              <h3>Riding mowers</h3>
              <p>
                Riding mower tags are located on the underside of the seat.
              </p>
            </div>
            <div class="col one-third with-gutter">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-walk-behind.jpg" alt="fpo" />
              <h3>Walk-behind mowers</h3>
              <p>
                For walk-behind mowers, this tag is found either on the deck or on the rear door of rear discharge units.
              </p>
            </div>
          </div>
          <div class="group manual-descriptions">
            <div class="col one-third with-gutter">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-tillers.jpg" alt="fpo" />
              <h3>Tillers</h3>
              <p> 
                Tiller model and serial tags are generally on the tine housing.
              </p>
            </div>
            <div class="col one-third with-gutter">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-two-stage.jpg" alt="fpo" />
              <h3>Two-stage snow throwers</h3>
              <p>
                The model and serial tags for two-stage snow throwers are located on the bottom of the main gear housing, which is often called the belly pan.
              </p>
            </div>
            <div class="col one-third with-gutter">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-single-stage.jpg" alt="fpo" />
              <h3>Single-stage snow throwers</h3>
              <p>
                Single-stage snow thrower tags are next to the key and primer.  
              </p>
            </div>
          </div>
          <div class="manual-descriptions img-only">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-other-1.jpg" alt="fpo" />
            <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-other-2.jpg" alt="fpo" />
            <img src="/wcpics/TroyBiltUS/en_US/images/content/fpo-other-3.jpg" alt="fpo" />
          </div>
          <h3>Other products</h3>
          <p>
            For other products like log splitters, chipper shredders and edgers, tags can be found on the frame or main housing.
          </p>
          <h3>How do I determine my product model number and/or serial number if the tag is missing or illegible?</h3>
          <p>
            If a product identification tag has been rendered illegible, or the numbers are not valid within our online support systems, it will be necessary to call in and speak directly with a Technical Support Agent for assistance in properly identifying these products.
          </p>
          <p>
            Our Technical Support Department staff may be reached at 1-800-828-5500, Monday thru Friday from 8 a.m. to 5 p.m. EST and Sat from 9 a.m. to 3 p.m. EST. The technicians there will ask you a number of questions while researching our historical manufacturing archives in an effort to determine the model number and manufacturing data of the product. This research can often be a daunting task and may even involve submission of photographs or measurement of particular parts that will identify a production series.
          </p>
          <p>
            We cannot complete this identification process over the Internet because of its complex nature and the need for direct conversation while researching.
          </p>
          <p>
            Once the model number and manufacturing data are properly identified, we suggest writing the number in the Owner’s Manual so it is readily available. You could also write it on the product with an indelible marker or an engraving tool.
          </p>
        </div>
      </article>
      <aside class="col">
        <section class="sidebar-widget">
          <h2>Parts Finder</h2>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Know the part number?</h3>
            <p>
              <label>Enter the part number:</label>
            </p>
            <input type="text" name="part_number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Don't know the part number?</h3>
            <p>
              <label>Enter the model number:</label>
            </p>
            <input type="text" name="model_number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <p>
            <a href="#" onclick="alert('link not implemented'); return false" class="video-link">Finding your Troy-Bilt&reg; model number</a>
          </p>
        </section>
        <section class="sidebar-widget">
          <h2>Operator's Manual Finder</h2>
          <form action="/owners-center/operators-manuals-results" method="get" class="parts-finder-form">
            <div>
              <p>
                <label>Enter the model number</label>
              </p>
              <input type="text" name="model_number">
              <button class="btn btn-red small">Find</button>
            </div> 
          </form>
        </section>
        <section class="sidebar-widget">
          <h2>Need Additional Help?</h2>
          <p>
            <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-grey">Live Chat</a>
          </p>
          <p>
            Live Chat support is available <br/>Monday thru Friday from 8:00 a.m. to 4:45 p.m. EST
          </p>
          <h4>Speak with a Customer Service Agent</h4>
          <p>
            Our customer service agents can assist in properly identifying your Troy-Bilt&reg; products. Our customer service staff may be reached at <br/><strong>1-800-828-5500</strong> during these hours:<br />
            Monday thru Friday from 8:00 a.m. to 5:00 p.m. EST<br />
            Saturday from 9:00 a.m. to 3:00 p.m. EST
          </p>
        </section>
      </aside>              
    </div>
  </section>
</div>