<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/tips-advice-how-tos">Tips, Advice &amp; How-To’s</a>
        >
        Meet the Saturday6&trade;
    </div>
  </div><!-- end page top -->
  <section class="tips-advice-content">
    <div class="content-header">
      <h1>Meet the Saturday6&trade;</h1>
      <div class="cat-image">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/saturday6-banner.jpg" alt="Meet the Saturday6&trade; Banner" />
        <div class="caption">
          These bloggers have teamed up with Troy-Bilt to share their experience with all things lawn and gardening. Follow along, as they bring you their best tips and tricks to help make your Saturday in the yard a rewarding one.
        </div>
      </div>
    </div><!-- end category header -->
    <ul class="categories">
      <li class="group">
        <div class="col tmb">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/kylee-baumle.jpg" alt="Kylee Baumle Portrait" />
        </div>
        <div class="col four-fifths bio">
          <h2>Kylee Baumle from <em>Our Little Acre</em></h2>
          <p>
            <a href="http://ourlittleacre.blogspot.com">ourlittleacre.blogspot.com</a>
          </p>
          <p>
            Kylee Baumle lives and gardens in zone 5b in northwest Ohio, where she tames the native clay to produce vegetables, fruits and as many annuals, perennials, shrubs and trees as she can fit onto an acre surrounded by rural farmland. Author of the popular gardening blog <em>Our Little Acre</em>, Kylee is a freelance writer and photographer who feels fortunate to have a husband who sometimes joins in on her gardening projects and who loves cats as much as she does.
          </p>
          <div class="article-video-library group">
            <div class="col one-half with-gutter">
              <h3>Articles</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">The Unsung Heroes of the Shade Garden</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Ode to the Bean</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">You Can Have Strawberries All Summer Long</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Time to Plant the Amaryllis</a></li>
              </ul>
            </div>
            <div class="col one-half with-gutter">
              <h3>Videos</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">How to Plant Crocus</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Pressure Washing with the 2700 PSI Pressure Washer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="col tmb">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/jennah-watters.jpg" alt="Jennah Watters Portrait" />
        </div>
        <div class="col four-fifths bio">
          <h2>Jennah Watters from <em>Jennah's Garden</em></h2>
          <p>
            <a href="http://www.jennahsgarden.com">www.jennahsgarden.com</a>
          </p>
          <p>
            After a lifetime of consciously avoiding helping her mother garden, Jennah started gardening voluntarily in 2007, when she and her husband bought their first home. It came with only a few sad, half-dead bushes and one all-the-way-dead mum. (Things are much better now.) Notorious for moving plants several times before being content with their location, Jennah gardens by trial and error, and attempts not to dwell on the error. She is wife to a deputy sheriff and mom to two cats and one dog, and hopes to one day be as good a gardener as her grandparents.
          </p>
          <div class="article-video-library group">
            <div class="col one-half with-gutter">
              <h3>Articles</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">Preparing Transplants for Next Spring</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Strip Mall Gardening</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Succulents</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Container Gardening</a></li>
              </ul>
            </div>
            <div class="col one-half with-gutter">
              <h3>Videos</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">Fall Gardening Tips</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Succulents</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Edging with the Troy-Bilt TB144</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="col tmb">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/cyntia-glover.jpg" alt="Cyntia Glover Portrait" />
        </div>
        <div class="col four-fifths bio">
          <h2>Cynthia "Meems" Glover from <em>Hoe and Shovel</em></h2>
          <p>
            <a href="http://www.hoeandshovel.com">www.hoeandshovel.com</a>
          </p>
          <p>
            Cynthia lives and gardens in her beloved native state of Florida only a short distance from the beautiful shores of the Gulf of Mexico. She is a blogger, freelance writer, amateur photographer, Master Gardener, and garden coach. Cynthia specializes in Florida-friendly and native plants, while steadfastly adhering to “right-plant, right place” in her mostly shady garden. It is her passion to share and teach all she's learned while gardening in a challenging growing climate and to inspire hopeful gardeners to enjoy their gardens, too.
          </p>
          <div class="article-video-library group">
            <div class="col one-half with-gutter">
              <h3>Articles</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">From the Ground Up</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Structural Elements to Shape Your Winter Garden</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Gardening Tips for Beginners and Reminders for Veterans</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Caladiums Add Spectacular Tropical Foliage to Any Garden</a></li>
              </ul>
            </div>
            <div class="col one-half with-gutter">
              <h3>Videos</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">"Layering" to Create Garden Pathways</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Lawn Replacement</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="col tmb">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/douglas-welch.jpg" alt="Douglas E. Welch Portrait" />
        </div>
        <div class="col four-fifths bio">
          <h2>Douglas E. Welch from <em>A Gardener's Notebook</em></h2>
          <p>
            <a href="www.douglasewelch.com/agn">www.douglasewelch.com/agn</a>
          </p>
          <p>
            Born in the epitome of small-town America – New London, Ohio – Douglas Welch spent many summers digging and planting vegetables in his grandmother's garden or driving a tractor on his family's small soybean farm. Computer work called him to the big city of Los Angeles, but he managed to take a piece of Ohio with him. When he and his wife bought their first home, they inherited an overgrown, 10-year-old garden. He has spent his years renovating what was a meticulous Japanese garden into a small piece of woodland among the urban cement. This double life illustrates his belief that balance in this modern world requires a combination of high-tech and high-touch living. Douglas' gardening column and podcast, <em>A Gardener's Notebook</em>, began in 1996 and are available at <a href="www.douglasewelch.com/agn">DouglasEWelch.com/agn</a>.
          </p>
          <div class="article-video-library group">
            <div class="col one-half with-gutter">
              <h3>Articles</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">The Lazy Gardener</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Your Garden - Inch by Inch</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">A Different DIY Garden</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Gardening Can Bring Your Neighborhood Together</a></li>
              </ul>
            </div>
            <div class="col one-half with-gutter">
              <h3>Videos</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">Wine Bottle Edging</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Refurbishing an Older Container</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="col tmb">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/gina-thomas.jpg" alt="Gina Thomas Portrait" />
        </div>
        <div class="col four-fifths bio">
          <h2>Gina Thomas from <em>My Skinny Garden</em></h2>
          <p>
            <a href="www.myskinnygarden.com">www.myskinnygarden.com</a>
          </p>
          <p>
            Gina lives and gardens in the Chicagoland area, zone 5b. One summer day in 2007, she decided to grow an organic tomato – four years later, most of the yard of her small house has been replaced by vegetable and perennial gardens. While she still considers herself a novice gardener, killing the occasional plant, every now and then, she grows something phenomenal or builds something interesting. Her greatest gardening accomplishments are the cedar pergola built over a weekend with good friends, raised vegetable beds she constructed herself, and the trip to Las Vegas she won in a tastiest tomato contest. Her philosophy is simple – grow, marvel, eat, laugh, persevere. Gina is a part-time freelance writer and the co-founder and vice president of Forest Park Community Garden, a nonprofit 501(c)3 dedicated to educating the community on building organic sustainable food systems. Gina chronicles her gardening and DIY conundrums in her blog, <em>My Skinny Garden</em>.
          </p>
          <div class="article-video-library group">
            <div class="col one-half with-gutter">
              <h3>Articles</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">Starting A Community Garden</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Growing Peppers in Containers</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Plant Zucchini after July 4th to Avoid Squash Vine Borer Infestation</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">The Easiest Way to Build a New Garden</a></li>
              </ul>
            </div>
            <div class="col one-half with-gutter">
              <h3>Videos</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">How To Make Your Own Potting Soil</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Florida Weave Tomato Staking</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="col tmb">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/mark-clement.jpg" alt="Mark Clement Portrait" />
        </div>
        <div class="col four-fifths bio">
          <h2>Mark Clement from <em>MyFixitUpLife</em></h2>
          <p>
            <a href="www.myfixituplife.com">www.myfixituplife.com</a>
          </p>
          <p>
            Mark Clement is a licensed contractor, co-hosts the live radio show MyFixitUpLife with his wife Theresa, regularly contributes to <em>Extreme How-To</em> magazine, <em>Professional Deck Builder</em> magazine, AOL's DIY Life, DIYNetwork.com, HGTVpro.com, OldHouseWeb.com, "Old House Journal," and has been a featured guest on DIY Network, Discovery Channel, HGTV and PBS.
          </p>
          <div class="article-video-library group">
            <div class="col one-half with-gutter">
              <h3>Articles</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">MyFixItUpLife Quick Tip: Lawn Repair</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">MyFixItUpLife Quick Tip: Growing Greener Grass</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">MyFixItUpLife Quick Tip: Build a Backyard Bench</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Great Garden Storage</a></li>
              </ul>
            </div>
            <div class="col one-half with-gutter">
              <h3>Videos</h3>
              <ul class="articles">
                <li><a href="#" onclick="alert('link not implemented'); return false">How to Use a String Trimmer as an Edger</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">How to Build a Compost Bin</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Creating a Storage Rack</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div><!-- end main -->