<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<!-- 
 Use below for Canada site
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="canada"> 
-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Troy-Bilt</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/shadowbox.css">
<% if (@serve_minified) %>
<link media="all" rel="stylesheet" href="/wcsstore/TroyBilt/style.min.css?v=12212012">
<% else %>  
<link media="all" rel="stylesheet" href="/wcsstore/TroyBilt/css/style.css">
<% end %>
<link rel="stylesheet" media="screen" href="/wcsstore/TroyBilt/css/bundle.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="/wcsstore/TroyBilt/css/ie.css" type="text/css" media="screen" /><![endif]-->
<script src="/wcsstore/TroyBilt/javascript/modernizr.2.0.7.js"></script>
  
</head>

<body class="minimal">

<header id="site-header">
  <div class="row the-head">
    <div class="logo"><a href="/" title="Troy-Bilt"><img src="/wcpics/TroyBiltUS/en_US/images/troybilt-logo-masked.png" alt="Troy-Bilt logo" title="Troy-Bilt" /></a></div>
    <div class="topnav">
      <div>
        <ul class="toplinks sf-menu">
          <li><a href="#" title="Troy-Bilt Home">Troy-Bilt Home</a></li>
          <li><a href="#" title="view cart">Find a Store</a>
        </ul>
      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="clear"><!-- --></div>
</header>
<div class="container">
<%= yield %>
</div>
<!-- FOOTER -->
<footer class="footer-section">
  <p class="aligncenter light">
    &copy;2012 Troy-Bilt Products
  </p>
</footer>
<!-- END FOOTER -->
<script src="/wcsstore/TroyBilt/javascript/css3-mediaqueries.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!-- Modal Window -->
<script src="/wcsstore/TroyBilt/javascript/jqModal.js"></script>
<!-- MAIN drop down -->
<script src="/wcsstore/TroyBilt/javascript/jquery.hoverIntent.minified.js"></script>
<!-- top nav drop down -->
<script src="/wcsstore/TroyBilt/javascript/superfish.js?ver=3.2.1"></script>
<script src="/wcsstore/TroyBilt/javascript/shadowbox-3.0.3/shadowbox.js"></script>
<script src="/wcsstore/TroyBilt/javascript/animatedcollapse.js"></script>
<script src="/wcsstore/TroyBilt/javascript/utils.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/underscore-min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jquery.masonry.min.js"></script>
<% if (@serve_minified) %>
<script src="/wcsstore/TroyBilt/troybilt.min.js?v=12212012"></script>
<% else %>  
<script src="/wcsstore/TroyBilt/javascript/troybilt.js"></script>
<% end %>
<!-- product finder -->
<script src="/wcsstore/TroyBilt/javascript/spin.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jcarousellite_1.0.1.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/jQuery.tubeplayer.min.js"></script>
<script src="/wcsstore/TroyBilt/javascript/productfinder.js"></script>

</body>
</html>