
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<!-- 
 Use below for Canada site
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="canada"> 
-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Troy-Bilt</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" media="screen" href="/wcsstore/TroyBilt/css/style.css" />
<link rel="stylesheet" media="screen" href="/wcsstore/TroyBilt/css/bundle.css" />
</head>
<body>
  <div id="modal-content">
    <%= yield %>
  </div>
</body>
</html>