<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Operator's Manual Search Results
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content">
    <div class="parts-finder manuals">
      <h1>Operator's Manual Search Results</h1>
      <p class="overview">
        <span class="red">Sorry, we weren’t able to find an operator's manual for <strong><%= @query %>.</strong></span><br />
        Try one of these options to help you find the parts you’re looking for.<br />
      </p>
      <div class="group">
        <div class="col">
          <h2>Try a new search</h2>
          <p>
            Perhaps you simply entered the wrong model number. Try again with these fields.
          </p>
          <form action="/owners-center/operators-manuals-results" method="get" class="parts-finder-form">
            <div>
              <p><strong>Enter the model number</strong></p>
              <input type="text" name="model_number">
              <p>
                <a href="/owners-center/locating-your-model-and-serial-number">How to locate your model and serial number</a>
              </p>
            </div> 
            <div class="group">
              <p><strong>Enter the serial number</strong> (optional)</p>    
              <input type="text" name="serial_number">
            </div>
            <p>
              The serial number isn’t required, but it can help us get an exact match.
            </p>
            <p class="submit">
              <button class="btn btn-red">Find manual</button>
            </p>
          </form>
        </div>
        <div class="col">
          <h2>Need help finding the model number?</h2>
          <p>
            Try one of these options if you’re having difficulty locating your model number:
          </p>
          <p>
            <a href="/owners-center/locating-your-model-and-serial-number">How to locate your model number</a>
          </p>
          <div class="youtube-link">
            <a href="#" onclick="alert('link not implemented'); return false">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/parts-finder-fpo.jpg" alt="FPO" />
              Locating Your Troy-Bilt&reg; Model and Serial Number
            </a>
          </div>
        </div>
        <div class="col">
          <h2>Speak with a Customer Service Agent</h2>
          <p>
            Our customer service agents can assist in properly identifying your Troy-Bilt&reg; products. Our customer service staff may be reached at <br/><strong>1-800-828-5500</strong> during these hours:<br />
            Monday thru Friday from 8:00 a.m. to 5:00 p.m. EST<br />
            Saturday from 9:00 a.m. to 3:00 p.m. EST
          </p>
        </div>
      </div>
    </div>
  </section>
</div>