<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           > Owner's Center
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content">
    <div class="content-header">
      <h1>Owner’s Center</h1>
      <img src="/wcpics/TroyBiltUS/en_US/images/content/owners-center-banner.jpg" alt="Free Shipping on Garden Tools for a Healthier, Better Looking Garden" />
    </div><!-- end category header -->
    <div class="group briefs">
      <div class="col">
        <h2><a href="/owners-center/help"><i class="icon-large help"></i>Help</a></h2>
        <p>
          Questions? Here’s where to get help. You can connect with Customer Service, browse our FAQs, contact us for technical advice or read up on privacy, safety and online security – all right here.
        </p>
      </div>
      <div class="col center">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large account"></i>My Account</a></h2>
        <p>
          We've made it easy to sign up for membership. If you’re already a member, this is where to log in.
        </p>
      </div>
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large help"></i>My Troy-Bilt&reg; Shed</a></h2>
        <p>
          Keep track of your tools all in one spot. Simply register your products for easy access to operator’s manuals, warranty documentation, part lists, accessories – virtually everything you need – all in one, easy to manage online toolshed.
        </p>
      </div>
    </div>
    <div class="group briefs">
      <div class="col">
        <h2><a href="/owners-center/parts-manual-finder"><i class="icon-large parts"></i>Parts &amp; Manual Finder</a></h2>
        <p>
          Order replacement parts or download a copy of your machine’s operator’s manual.
        </p>
      </div>
      <div class="col center">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large mower"></i>Product Registration</a></h2>
        <p>
          Register all of your Troy-Bilt&reg; products here.
        </p>
      </div>
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large tools"></i>Service Locator</a></h2>
        <p>
          Find an authorized service center in your area.
        </p>
      </div>
    </div>
    <div class="group briefs">
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large mail"></i>Subscriptions</a></h2>
        <p>
          Sign up for our eNewsletter, <em>The Dirt</em>, and have timely lawn and garden tips sent to you each month. Enjoy special offers and receive yard and maintenance reminder emails, too.
        </p>
      </div>
      <div class="col center">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large open-package"></i>My Orders</a></h2>
        <p>
          Gain instant access to the status of your online purchase. You can request documentation and proof of purchase on past orders too.
        </p>
      </div>
    </div>
  </section>
</div>