<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Help
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content">
    <div class="group briefs">
      <h1>Help</h1>
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large help"></i>FAQs</a></h2>
        <p>
          Find answers to all your Troy-Bilt&reg; questions or ask our experts a question.
        </p>
      </div>
      <div class="col center">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large tools"></i>Service Locator</a></h2>
        <p>
          Find an authorized service center in your area.
        </p>
      </div>
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large alert"></i>Maintenance Reminders</a></h2>
        <p>
          Prolong the life of your Troy-Bilt&reg; products.  Enter your product’s info in the Shed and get reminders about upkeep and maintenance.
        </p>
      </div>
    </div>
    <div class="group briefs">
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large parts"></i>Parts &amp; Accessories</a></h2>
        <p>
          Get more out of your Troy-Bilt&reg; products with helpful accessories and parts.
        </p>
      </div>
      <div class="col center">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large doc"></i>Operator's Manuals</a></h2>
        <p>
          Find an authorized service center in your area.
        </p>
      </div>
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large info"></i>Tips, Advice &amp; How-To’s</a></h2>
        <p>
          Find an authorized service center in your area.
        </p>
      </div>
    </div>
    <div class="group briefs">
      <div class="col">
        <h2><a href="#" onclick="alert('link not implemented'); return false"><i class="icon-large phone"></i>Contact Us</a></h2>
        <p>
          If you can’t find what you're looking for on our site, give us a call at <strong>1-800-828-5500</strong>.<br /> 
          Mon. thru Fri.: 8 a.m. to 8 p.m. EST<br /> 
          Sat.: 9 a.m. to 5 p.m. EST<br /> 
          Closed Sundays<br /> 
          or you can <a href="#" onclick="alert('link not implemented'); return false">send us an email</a>
        </p>
      </div>
    </div>
  </section>
</div>