<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Parts Finder Search Results
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content">
    <div class="parts-finder">
      <h1>Parts Finder Search Results</h1>
      <p class="overview">
        <span class="red">Sorry, we weren’t able to find any parts matching <strong><%= @query %>.</strong></span><br />
        Try one of these options to help you find the parts you’re looking for.<br />
        Looking for part for a Troy-Bilt® generator or power washer? <a href="#" onclick="alert('link not implemented'); return false">Click here to order parts</a>
      </p>
      <div class="group">
        <div class="col">
          <h2>Try a new search</h2>
          <p>
            Perhaps you simply entered the wrong part or model number. Try again with these fields.
          </p>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Know the part number?</h3>
            <p>
              <label>Enter the part number:</label>
            </p>
            <input type="text" name="part_number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Don't know the part number?</h3>
            <p>
              <label>Enter the model number:</label>
            </p>
            <input type="text" name="model_number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <p>
            <a href="/owners-center/locating-your-model-and-serial-number">How to locate your model number</a><br />
            <a href="#" onclick="alert('link not implemented'); return false">Use our model number selector</a>
          </p>
          <p>
            <a href="#" onclick="alert('link not implemented'); return false" class="video-link">Finding your Troy-Bilt&reg; model number</a>
          </p>
        </div>
        <div class="col">
          <h2>Need help finding the model number?</h2>
          <p>
            Try one of these options if you’re having difficulty locating your model number:
          </p>
          <p>
            <a href="/owners-center/locating-your-model-and-serial-number">How to locate your model number</a>
          </p>
          <div class="youtube-link">
            <a href="#" onclick="alert('link not implemented'); return false">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/parts-finder-fpo.jpg" alt="FPO" />
              Locating Your Troy-Bilt&reg; Model and Serial Number
            </a>
          </div>
        </div>
        <div class="col">
          <h2>Talk to us</h2>
          <p>
            <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red">Live Chat</a>
          </p>
          <p>
            Live Chat support is available Monday thru Friday from 8:00 a.m. to 4:45 p.m. EST
          </p>
          <h4>Speak with a Customer Service Agent</h4>
          <p>
            Our customer service agents can assist in properly identifying your Troy-Bilt&reg; products. Our customer service staff may be reached at <br/><strong>1-800-828-5500</strong> during these hours:<br />
            Monday thru Friday from 8:00 a.m. to 5:00 p.m. EST<br />
            Saturday from 9:00 a.m. to 3:00 p.m. EST
          </p>
        </div>
      </div>
    </div>
  </section>
</div>