<div id="main" class="container product-detail">
  <div class="page-top group">
      <div id="rightlinks">
        <ul class="share-bar">
          <li>
            <div class="fb-like" data-href="http://troy2013.herokuapp.com/products" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
          </li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
          </li>
          <li>
            <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
          </li>
          <li>
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          </li>
          <li>
            <script type="IN/Share"></script>
          </li>
          <li>
            <a href="/email-friend" rel="shadowbox;width=740;height=420" class="email" title="Email a Friend">Email a Friend</a>
          </li>
          <li class="last">
            <a href="javascript:window.print();" class="print" title="Print this page">Print</a>
          </li>
        </ul>
      </div>
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
          > 
          Snow Throwers
      </div>
  </div><!-- end page top -->
  <section class="product-listing-content">
    <div class="category-header">
      <h1>Snow Throwers</h1>
      <div class="cat-image">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-cat.jpg" alt="snow-thrower-pic" />
        <div class="caption">
          Snow piles up fast, but we help you blow through it with our full line of two-stage and single-stage snow throwers. Easy to start and easy to use, so you keep up with winter.
        </div>
      </div>
    </div><!-- end category header -->
    <div class="group">
      <aside id="left-sidebar" class="col">
        <a href="#" title="Watch the video">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg" alt="How We're Built. See What it Takes to Be Built for Life." class="espot" />
        </a>
        <a href="#" title="Review now and you could win $2500!">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/espot-review-now.jpg" alt="Review now and you could win $2500!" class="espot" />
        </a>
        <section class="sidebar-widget parts-finder owners-center-content">
          <h2>Parts Finder</h2>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Know the part number?</h3>
            <p>
              <label for="sidebar-part-number">Enter the part number:</label>
            </p>
            <input type="text" name="part_number" id="sidebar-part-number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Don't know the part number?</h3>
            <p>
              <label for="sidebar-model-number">Enter the model number:</label>
            </p>
            <input type="text" name="model_number" id="sidebar-model-number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <p class="redlink">
            <a href="#">How to locate your model number</a><br>
            <a href="#">Use our model number selector</a>
          </p>
        </section>
      </aside><!-- end left sidebar -->
      <div class="product-list col">
        <div class="display-options group top">
          <div class="sorting col">
            <form action="#" method="get" class="sorting">
              <label for="sorting-option">Sort By</label>
              <select name="sorting_option" data-filter-page="/parts" class="sorting-option">
                <option value="">select</option>
                <option value="price-low"<%= params['price'] && params['price'] == 'low' ? ' selected="selected"' : '' %>>Price – low to high</option>
                <option value="price-high"<%= params['price'] && params['price'] == 'high' ? ' selected="selected"' : '' %>>Price – high to low</option>
              </select>
            </form>
          </div>
          <div class="views col">
            <span class="label">View as</span><a href="#" class="btn btn-grey active" data-toggle-el="#product-list-view" data-toggle-view="list-view">list <i class="icon-list-view"></i></a><a href="#" class="btn btn-grey" data-toggle-el="#product-list-view" data-toggle-view="grid-view">grid <i class="icon-grid-view"></i></a>
          </div>
          <div class="compare col">
            <a href="/products/compare" class="btn btn-grey compare">Compare</a>
          </div>
        </div><!-- end display options -->
        <div id="product-list-view" class="list-view">
        <% @products.each_with_index do |(id, p), i| %>
          <% if i % 3 == 0 %>
          <ul class="products">
          <% end %>
            <li class="product group" id="<%= id %>">
              <div class="product-img col">
                <a rel="shadowbox;width=750;height=375" href="/products/quick-view">
                  <img src="<%= p['image'] %>" alt="Snow Thrower Pic" />
                  <span class="quick-view">Quick view</span>
                </a>
              </div>
              <div class="product-info col">
                <a href="/products/detail">
                  <h2><%= p['name'] %></h2>
                  <p class="description"> 
                    <%= p['description'] %>
                  </p>
                  <h3 class="price">
                    $<%= p['price'] %> <span class="status"><%= p['status'] %></span>
                  </h3>
                </a>
                <p class="reviews">
                  <span class="stars"><em><%= p['rating'] %></em></span> 20 reviews 
                  <a href="/products/detail#customer-reviews" class="review-link">Read customer reviews</a>
                </p>
                <% if p['top_rated'] %>
                <p>
                  <img src="/wcpics/TroyBiltUS/en_US/images/top-rated.jpg" alt="Top Rated" />
                </p>
                <% end %>
              </div>
              <div class="compare col">
                <input type="checkbox" class="add-to-compare" data-compare="<%= id %>" id="compare-<%= id %>" />
                <label for="compare-<%= id %>">Compare</label>
              </div>
            </li>
          <% if i % 3 == 2 || i == @products.length - 1 %>
          </ul>
          <% end %>
        <% end %>
        </div><!-- end products -->
        <div class="product-list col">
        <div class="display-options group">
          <div class="sorting col">
            <form action="#" method="get" class="sorting">
              <label for="sorting-option">Sort By</label>
              <select name="sorting_option"  data-filter-page="/parts" class="sorting-option">
                <option value="">select</option>
                <option value="price-low"<%= params['price'] && params['price'] == 'low' ? ' selected="selected"' : '' %>>Price – low to high</option>
                <option value="price-high"<%= params['price'] && params['price'] == 'high' ? ' selected="selected"' : '' %>>Price – high to low</option>
              </select>
            </form>
          </div>
          <div class="views col">
            <span class="label">View as</span><a href="#" class="btn btn-grey active" data-toggle-el="#product-list-view" data-toggle-view="list-view">list <i class="icon-list-view"></i></a><a href="#" class="btn btn-grey" data-toggle-el="#product-list-view" data-toggle-view="grid-view">grid <i class="icon-grid-view"></i></a>
          </div>
          <div class="compare col">
            <a href="#compare" class="btn btn-grey compare">Compare</a>
          </div>
        </div><!-- end display options -->

      </div><!-- end right column -->
    </div>
  </section>
</div><!-- end main -->