<div id="main" class="container owners-center">
  <div class="page-top group">
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
           >
           <a href="/owners-center">Owner's Center</a> 
           > Parts Finder
      </div>
  </div><!-- end page top -->
  <section class="owners-center-content">
    <div class="parts-finder">
      <h1>Parts Finder</h1>
      <p class="overview">
        Find parts for your Troy-Bilt® outdoor power equipment.
      </p>
      <div class="group">
        <div class="col wide">
          <h2>Parts Finder</h2>
          <p>
            Enter your part number or model number to begin your parts search.
          </p>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Know the part number?</h3>
            <p>
              <label>Enter the part number:</label>
            </p>
            <input type="text" name="part_number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <form action="/owners-center/parts-finder-results" method="get" class="parts-finder-form">
            <h3>Don't know the part number?</h3>
            <p>
              <label>Enter the model number:</label>
            </p>
            <input type="text" name="model_number" />
            <button class="btn btn-red small">Find</button>
          </form>
          <p>
            <a href="/owners-center/locating-your-model-and-serial-number">How to locate your model number</a><br />
            <a href="#" onclick="alert('link not implemented'); return false">Use our model number selector</a>
          </p>
          <p>
            <a href="#" onclick="alert('link not implemented'); return false" class="video-link">Finding your Troy-Bilt&reg; model number</a>
          </p>
          <p>
            <strong>Looking for parts for a Troy-Bilt&reg; generator or power washer?</strong><br />
            <a href="#" onclick="alert('link not implemented'); return false">Click here to order parts</a>
          </p>
        </div>
        <div class="col">
          <h2>Need help finding the model number?</h2>
          <p>
            Try one of these options if you’re having difficulty locating your model number:
          </p>
          <p>
            <a href="/owners-center/locating-your-model-and-serial-number">How to locate your model number</a>
          </p>
          <div class="youtube-link">
            <a href="#" onclick="alert('link not implemented'); return false">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/parts-finder-fpo.jpg" alt="FPO" />
              Locating Your Troy-Bilt&reg; Model and Serial Number
            </a>
          </div>
          <p>
            <strong>Still need help?</strong>
          </p>
          <p>
            <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red">Live Chat</a>
          </p>
          <p>
            Live Chat support is available Monday thru Friday from 8:00 a.m. to 4:45 p.m. EST
          </p>
        </div>
      </div>
    </div>
  </section>
</div>