<div id="main" class="container products-compare">
  <div class="compare-header">
    <a href="#" class="btn btn-grey floatright" data-print-page="true">PRINT THIS PAGE</a>
    <h1>Compare Snow Throwers</h1>
    <a href="/products">Return to Snow Throwers</a>
  </div>
  <table class="products-compare-table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/squall-210.jpg" alt="Squall 210 Pic" />
        </th>
        <th scope="col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/storm-2410.jpg" alt="Storm 2410 Pic" />
        </th>
        <th scope="col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/storm-2840.jpg" alt="Storm 2840 Pic" />
        </th>
        <th scope="col">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/storm-tracker.jpg" alt="Storm 2690 Pic" />
        </th>
      </tr>
      <tr>
        <th scope="row">
          Model
        </th> 
        <td>
          <h2>Squall&trade; 210 Snow Thrower</h2>
          <p class="description">
            21" Single-Stage Snow Thrower - 123cc Troy-Bilt&reg; engine*
          </p>
        </td>
        <td>
          <h2>Storm&trade; 2410 Snow Thrower</h2>
          <p class="description">
            24" Two-Stage Snow Thrower - 208cc Troy-Bilt&reg; engine*
          </p>
        </td>
        <td>
          <h2>Storm&trade; 2840 Snow Thrower</h2>
          <p class="description">
            28" Deluxe Two-Stage Snow Thrower - 277cc Troy-Bilt&reg; engine*
          </p>
        </td>
        <td>
          <h2>Storm&trade; 2690 XP Snow Thrower</h2>
          <p class="description">
            26" Deluxe Two-Stage Snow Thrower - Just One Touch&trade; Electric Chute Control - 208cc Troy-Bilt&reg; engine*
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Rating
        </th>
        <td>
          <span class="stars"><em>4.5</em></span>
        </td>
        <td>
          <span class="stars"><em>4.5</em></span>
        </td>
        <td>
          <span class="stars"><em>4.5</em></span>
        </td>
        <td>
          <span class="stars"><em>4.5</em></span>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Price
        </th>
        <td>
          $359.99
        </td>
        <td>
          $599.99
        </td>
        <td>
          $899.99
        </td>
        <td>
          $1099.99
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Starting System
        </th>
        <td>
          Recoil
        </td>
        <td>
          Electric / Recoil
        </td>
        <td>
          Electric / Recoil
        </td>
        <td>
          Electric / Recoil
        </td>
      </tr>
      <tr>
        <th scope="row">
          Clearing Width
        </th>
        <td>
          21"
        </td>
        <td>
          24"
        </td>
        <td>
          28"
        </td>
        <td>
          26"
        </td>
      </tr>
      <tr>
        <th scope="row">
          Intake Height
        </th>
        <td>
          13"
        </td>
        <td>
          21"
        </td>
        <td>
          21"
        </td>
        <td>
          21"
        </td>
      </tr>
      <tr>
        <th scope="row">
          Auger Diameter
        </th>
        <td>
          9"
        </td>
        <td>
          12"
        </td>
        <td>
          12"
        </td>
        <td>
          12"
        </td>
      </tr>
      <tr>
        <th scope="row">
          Impeller Diameter
        </th>
        <td>
          N/A
        </td>
        <td>
          12"
        </td>
        <td>
          12"
        </td>
        <td>
          12"
        </td>
      </tr>
      <tr>
        <th scope="row">
          Drive System
        </th>
        <td>
          AugerAssist&trade;
        </td>
        <td>
          All-wheel drive
        </td>
        <td>
          All-wheel drive
        </td>
        <td>
          Track drive
        </td>
      </tr>
      <tr>
        <th scope="row">
          Power Steering
        </th>
        <td>
          N/A
        </td>
        <td>
          N/A
        </td>
        <td>
          N/A
        </td>
        <td>
          Touch 'n Turn&reg; power steering
        </td>
      </tr>
      <tr>
        <th scope="row">
          Speed
        </th>
        <td>
          Auger-assist
        </td>
        <td>
          6 Forward / 2 Reverse
        </td>
        <td>
          6 Forward / 2 Reverse
        </td>
        <td>
          6 Forward / 2 Reverse
        </td>
      </tr>
      <tr>
        <th scope="row">
          Operation
        </th>
        <td>
          N/A
        </td>
        <td>
          N/A
        </td>
        <td>
          Just One Hand&reg;
        </td>
        <td>
          Just One Hand&reg;
        </td>
      </tr>
      <tr>
        <th scope="row">
          Handle Grips
        </th>
        <td>
          N/A
        </td>
        <td>
          Standard
        </td>
        <td>
          Heated grips
        </td>
        <td>
          Heated grips
        </td>
      </tr>
      <tr>
        <th scope="row">
          Chute Control
        </th>
        <td>
          E-Z Chute&trade; / Manual pitch
        </td>
        <td>
          Crank / Manual pitch
        </td>
        <td>
          4-way (joystick)
        </td>
        <td>
          Just One Touch&trade; Electric 4-Way
        </td>
      </tr>
      <tr>
        <th scope="row">
          Chute/Rotation
        </th>
        <td>
          5" polymer / 180 degrees
        </td>
        <td>
          5" polymer / 180 degrees
        </td>
        <td>
          5" polymer / 200 degrees
        </td>
        <td>
          5" polymer / 180 degrees
        </td>
      </tr>
      <tr>
        <th scope="row">
          Chute Clearing Device
        </th>
        <td>
          N/A
        </td>
        <td>
          Standard clearing device
        </td>
        <td>
          Standard clearing device
        </td>
        <td>
          Standard clearing device
        </td>
      </tr>
      <tr>
        <th scope="row">
          Headlight
        </th>
        <td>
          N/A
        </td>
        <td>
          N/A
        </td>
        <td>
          In-dash headlight
        </td>
        <td>
          In-dash headlight
        </td>
      </tr>
      <tr>
        <th scope="row">
          Tires
        </th>
        <td>
          7" x 1.5" S-Wave&trade;
        </td>
        <td>
          13" x 4" X-Trac&trade;
        </td>
        <td>
          16" x 4.8" X-Trac&trade;
        </td>
        <td>
          4.5" x 10" Track drive
        </td>
      </tr>
      <tr>
        <th scope="row">
          Adjustable Skid Shoes
        </th>
        <td>
          Reversible scraper
        </td>
        <td>
          Standard skid shoes
        </td>
        <td>
          Deluxe / Reversible skid shoes
        </td>
        <td>
          Deluxe / Reversible skid shoes
        </td>
      </tr>
      <tr>
        <th scope="row">
          Oil Fill
        </th>
        <td>
          Standard
        </td>
        <td>
          Extended
        </td>
        <td>
          Extended
        </td>
        <td>
          Extended
        </td>
      </tr>
      <tr>
        <th scope="row">
          Fuel Capacity
        </th>
        <td>
          2 Qt
        </td>
        <td>
          2 Qt
        </td>
        <td>
          5 Qt
        </td>
        <td>
          2 Qt
        </td>
      </tr>
      <tr>
        <th scope="row">
          Engine
        </th>
        <td>
          123cc* 4-cycle OHV Troy-Bilt&reg;
        </td>
        <td>
          208cc* 4-cycle OHV Troy-Bilt&reg;
        </td>
        <td>
          277cc* 4-cycle OHV Troy-Bilt&reg;
        </td>
        <td>
          208cc* 4-cycle OHV Troy-Bilt&reg;
        </td>
      </tr>
      <tr>
        <th scope="row">
          Warranty
        </th>
        <td>
          2-year limited
        </td>
        <td>
          2-year limited
        </td>
        <td>
          2-year limited
        </td>
        <td>
          3-year limited
        </td>
      </tr>
    </tbody>
  </table>
  <p class="table-caption">
    *As rated by engine manufacturer.
  </p>
</div>