<div class="group">
  <div class="product-image col one-half with-gutter">
    <img src="/wcpics/TroyBiltUS/en_US/images/content/storm-2480-modal.jpg" alt="Storm 2480 Image" />
  </div>
  <div class="product-info col one-half with-gutter">
    <h2>Storm&trade; 2840 Snow Thrower</h2>
    <p class="description"> 
      28" Deluxe Two-Stage Snow Thrower - 277cc Troy-Bilt engine
    </p>
    <h3 class="price">
      $899.99 <span class="status">In stock</span>
    </h3>
    <p>
      The Storm 2840 two-stage snow thrower offers you added power and a 28" clearing width to tackle the biggest jobs – even heavy, wet snow. Aggressive tires offer greater traction in all conditions, while the two-stage snow thrower's in-dash headlight and reflective stripes allow you to clear snow more safely in low-visibility conditions.
    </p>
    <a href="/products/detail" target="_parent" class="btn btn-grey products-detail">Products detail</a>
    <a href="#" onclick="alert('Will link to Easy2'); return false" class="btn btn-grey interactive-view">Interactive View</a>
  </div>
</div>