<div id="main" class="container product-detail">
	<div class="page-top group">
	    <div id="rightlinks">
				<ul class="share-bar">
					<li>
          	<div class="fb-like" data-href="http://troy2013.herokuapp.com/products/detail" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
					</li>
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
					</li>
					<li>
						<a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
					</li>
					<li>
						<div class="g-plusone" data-size="medium" data-annotation="none"></div>
					</li>
					<li>
						<script type="IN/Share"></script>
					</li>
	        <li>
	          <a href="/email-friend" rel="shadowbox;width=740;height=420" class="email" title="Email a Friend">Email a Friend</a>
	        </li>
	        <li class="last">
	          <a href="javascript:window.print();" class="print" title="Print this page">Print</a>
	        </li>
				</ul>
	    </div>
	    <div class="breadcrumbs">
	        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
	         > 
	        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/category2_10001_14102_55003_55003_55003_-1">Lawn Mowers</a>
	         > Storm&trade; 2840 Snow Thrower
	    </div>
	</div><!-- end page top -->
	<section class="group" id="product-detail-top">
		<div class="col product-preview">
			<a rel="shadowbox;width=500;height=500" href="http://www.troybilt.com/webapp/wcs/stores/servlet/ProductDetailZoomView?storeId=10001&amp;catalogId=14102&amp;categoryId=&amp;langId=-1&amp;productImagePath=%2fwcpics%2fTroyBiltUS%2fen_US%2fproducts%2f31AH64Q4766_prod_large.jpg" id="product-detail-image">
				<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower.jpg" alt="Snow Thrower" />
				<span class="zoom-link"><i class="icon icon-zoom"></i> Zoom Photo</span>
			</a>
			<nav class="preview-nav">
				<ul>
					<li>
						<a href="#product-detail-image" class="active" data-pic-swap="#product-detail-image" data-image="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower.jpg" data-zoom-href="http://www.troybilt.com/webapp/wcs/stores/servlet/ProductDetailZoomView?storeId=10001&amp;catalogId=14102&amp;categoryId=&amp;langId=-1&amp;productImagePath=%2fwcpics%2fTroyBiltUS%2fen_US%2fproducts%2f31AH64Q4766_prod_large.jpg">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-tmb1.jpg" alt="Snow Thrower Thumbnail" />
						</a>
					</li>
					<li>
						<a href="#product-detail-image" data-pic-swap="#product-detail-image" data-image="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-alt.jpg" data-zoom-href="http://www.troybilt.com/webapp/wcs/stores/servlet/ProductDetailZoomView?storeId=10001&amp;catalogId=14102&amp;categoryId=&amp;langId=-1&amp;productImagePath=%2fwcpics%2fTroyBiltUS%2fen_US%2fproducts%2f31AH64Q4766_2_prod_large.jpg">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-tmb2.jpg" alt="Snow Thrower Thumbnail" />
						</a>
					</li>
				</ul>
			</nav>
		</div><!-- end product preview -->
		<div class="col product-info">
			<h1>Storm&trade; 2840 Snow Thrower</h1>
			<h2 class="product-description">28" Deluxe Two-Stage Snow Thrower – 277cc Troy-Bilt&reg; engine</h2>
			<div class="reviews">
				<span class="stars"><em>4.5</em></span>
				<p>
					<span class="star-count">4.1 out of 5 stars (30 Reviews)</span>
					<a href="#customer-reviews">Read all customer reviews</a> | <a href="#">Write a review</a>
				</p>
			</div>	
			<div class="group">
				<div class="col">
					<img src="/wcpics/TroyBiltUS/en_US/images/top-rated.jpg" alt="Top Rated" />
				</div>
				<div class="col">
					<a href="#" onclick="alert('Will link to Easy2'); return false" class="btn btn-grey interactive-view">Interactive View</a>
				</div>	
			</div>
			<form method="post" class="add-to-cart" action="/cart-calculator">
				<h3 class="price">$899.00 <span class="status">In Stock</span></h3>
				<fieldset>
					<label for="quantity">Quantity:</label> <input type="text" name="quantity" id="quantity" class="qty" />
					<button class="btn btn-red rounded large cart-btn" data-product="1576420">Add to Cart</button>
				</fieldset>
			</form>
			<div class="group mini-callouts">
				<div class="col">
					<a href="#" class="mini-callout">Buy Together and Save!</a>
				</div>
				<div class="col">
					<a href="#" class="mini-callout">Special Financing Available</a>
				</div>
			</div>
			<div class="also-available">
				<h4>Also available at:</h4>
				<div class="group">
					<div class="col">
						<a href="#">
							<img src="/wcpics/TroyBiltUS/en_US/images/lowes-logo.png" alt="Lowes" class="lowes" />
							<span class="partner-caption">Troy-Bilt Snow Throwers at Lowe's&reg;</span>
						</a>
					</div>
					<div class="col">
						<a href="#">
							<img src="/wcpics/TroyBiltUS/en_US/images/troybilt-authorized.png" alt="Troy-Bilt Authorized Dealers" class="troybilt-authorized" />
						</a>
					</div>
					<div class="col">
						<a href="#">
							<img src="/wcpics/TroyBiltUS/en_US/images/troybilt-other.png" alt="Troy-Bilt Other Retailers" class="troybilt-other" />
						</a>
					</div>
				</div>
			</div>	
		</div><!-- end product info -->
	</section>
	<section id="product-detail-bottom" class="group">
		<div id="product-info-tabs" class="col">
			<nav class="product-nav tabs">
				<ul class="group">
					<li class="col tab-active"><a href="#tab-overview" title="Overview" data-tabid="tab-overview">Overview</a></li>
					<li class="col"><a href="#tab-specifications" title="Specifications" data-tabid="tab-specifications">Specifications</a></li>
					<li class="col"><a href="#tab-accessories" title="Accessories" data-tabid="tab-accessories">Accessories</a></li>
					<li class="col"><a href="#tab-parts-manual" title="Parts &amp; Manuals" data-tabid="tab-parts-manual">Parts &amp; Manuals</a></li>
					<li class="col"><a href="#tab-promotions" title="Promotions" data-tabid="tab-promotions">Promotions</a></li>
				</ul>
			</nav><!-- end tabs -->
			<section id="tab-overview" class="tab-content active">
				<div class="group">
					<div class="col two-thirds">
						<p>
							<strong>Extra power, extra width</strong><br />
							The Storm 2840 two-stage snow thrower offers you added power and a 28" clearing width to tackle the biggest jobs – even heavy, wet snow. Aggressive tires offer greater traction in all conditions, while the two-stage snow thrower’s in-dash headlight and reflective stripes allow you to clear snow more safely in low-visibility conditions.
						</p>
					</div>
					<div class="col one-third aligncenter">
						<a href="#" onclick="alert('Will link to Easy2'); return false" class="btn btn-grey interactive-view">Interactive View</a>
					</div>
				</div>
				<h3>Videos</h3>
				<div class="group">
					<div class="col one-fourth">
						<a href="#" class="video-link">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-video-tmb1.jpg" alt="Video Thumbnail" />
							Single-Stage and Two-Stage Snow Thrower Differences
						</a>
					</div>
					<div class="col one-fourth">
						<a href="#" class="video-link">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-video-tmb2.jpg" alt="Video Thumbnail" />
							Just One Hand&reg; Operation and Heated Hand Grips
						</a>
					</div>
					<div class="col one-fourth">
						<a href="#" class="video-link">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-video-tmb3.jpg" alt="Video Thumbnail" />
							Extended Chute Design
						</a>
					</div>
					<div class="col one-fourth">
						<a href="#" class="video-link">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-video-tmb4.jpg" alt="Video Thumbnail" />
							Chute Controls (varies by model)
						</a>
					</div>
				</div>
			</section><!-- end overview tab -->
			<section id="tab-specifications" class="tab-content">
				<h3>Signature Features</h3>
				<ul>
					<li><strong><a href="#">Just One Hand&reg; Operation</a></strong></li>
					<li><strong>Heated hand grips</strong></li>
					<li><strong>2-year limited warranty</strong></li>
				</ul>
				<h3>Additional Features</h3>
				<ul>
					<li>Push-button electric start</li>
					<li>All-wheel drive</li>
					<li>6 forward / 2 reverse speeds</li>
					<li>28" clearing width</li>
					<li>21" intake height</li>
					<li>4-way joystick chute control - easily controls chute pitch and direction from the operator position</li>
					<li>12" serrated steel auger</li>
					<li>Deluxe adjustable and reversible skid shoes</li>
					<li>In-dash headlight and reflective strips for safer operation in low light conditions</li>
					<li>16" x 4.8" X-Trac snow tires</li>
					<li>277cc* Troy-Bilt 4-cycle OHV</li>
				</ul>
				<p>
					*As rated by engine manufacturer
				</p>
				<h3>Specifications</h3>
				<dl class="group inline-dl specifications">
					<dt>Starting System</dt>
						<dd>Electric / Recoil</dd>
					<dt>Clearing Width</dt>
						<dd>28"</dd>
					<dt>Intake Height</dt>
						<dd>21"</dd>
					<dt>Auger Diameter</dt>
						<dd>12"</dd>
					<dt>Impeller Diameter</dt>
						<dd>12"</dd>
					<dt>Drive System</dt>
						<dd>All-wheel drive</dd>
					<dt>Power Steering</dt>
						<dd>N/A</dd>
					<dt>Speed</dt>
						<dd>6 Forward / 2 Reverse</dd>
					<dt>Operation</dt>
						<dd>Just One Hand&reg;</dd>
					<dt>Handle Grips</dt>
						<dd>Heated grips</dd>
					<dt>Chute Control</dt>
						<dd>4-way (joystick)</dd>
					<dt>Chute/Rotation</dt>
						<dd>5" polymer / 200 degrees</dd>
					<dt>Chute Clearing Device</dt>
						<dd>Standard clearing device</dd>
					<dt>Headlight</dt>
						<dd>In-dash headlight</dd>
					<dt>Tires</dt>
						<dd>16" x 4.8" X-Trac&trade;</dd>
					<dt>Adjustable Skid Shoes</dt>
						<dd>Deluxe / Reversible skid shoes</dd>
					<dt>Oil Fill</dt>
						<dd>Extended</dd>
					<dt>Fuel Capacity</dt>
						<dd>5 Qt</dd>
					<dt>Engine</dt>
						<dd>277cc* OHV 4-cycle Troy-Bilt&reg;</dd>
					<dt>Warranty</dt>
						<dd>2-year limited</dd>
				</dl>
			</section><!-- end specifications tab -->
			<section id="tab-accessories" class="tab-content">
				<ul class="group clean-list">
					<li class="col one-third">
						<form action="/cart-calculator" class="cart" method="post">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-cab-small.jpg" alt="Deluxe Universal Snow Thrower Cab Image">
							<a href="#">Deluxe Universal Snow Thrower Cab</a>
							<span class="price">$199.99</span>
							<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
						</form>
					</li>
					<li class="col one-third">
						<form action="/cart-calculator" class="cart" method="post">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-cover-small.jpg" alt="All-Season Protection Universal Snow Thrower Cover">
							<a href="#">All-Season Protection Universal Snow Thrower Cover</a>
							<span class="price">$38.49</span>
							<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
						</form>
					</li>
					<li class="col one-third">
						<form action="/cart-calculator" class="cart" method="post">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-driftcutter-small.jpg" alt="Drift Cutter Kit">
							<a href="#">Drift Cutter Kit</a>
							<span class="price">$45.21</span>
							<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
						</form>
					</li>
				</ul>
			</section><!-- end accessories tab -->
			<section id="tab-parts-manual" class="tab-content">
				<h3>Operator's Manual</h3>
				<a href="#" class="manual-large">
					Download operator's manual <span class="link-info">(PDF)</span>
				</a>
				<h3>Warranty</h3>
				<a href="#" class="manual-large">
					Download warranty <span class="link-info">(PDF)</span>
				</a>
				<h3>Related Videos</h3>
				<div class="group videos">
					<div class="col one-fourth">
						<a href="#" class="video-link">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-video-tmb1.jpg" alt="Video Thumbnail" />
							Single-Stage and Two-Stage Snow Thrower Differences
						</a>
					</div>
					<div class="col one-fourth">
						<a href="#" class="video-link">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-video-tmb2.jpg" alt="Video Thumbnail" />
							Just One Hand&reg; Operation and Heated Hand Grips
						</a>
					</div>
				</div>
				<h3>Find parts for this model</h3>
			</section><!-- end parts-manual tab -->
			<section id="tab-promotions" class="tab-content">
				<div class="product-combo">
					<h2>Storm&trade; 2840 Snow Thrower and Snow Cab Bundle</h2>
					<form action="/cart-calculator" method="post" class="group">
						<div class="col three-fourths">
							<div class="group product-pair">
								<div class="col one-third">
									<a href="#">
										<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-small.jpg" alt="Snow Thrower Pic">
										<span class="product-name">Storm&trade; 2840 Snow Thrower</span>
										<span class="price">$899.99</span>
									</a>
								</div>
								<div class="col one-third">
									<a href="#">
										<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-cab-small.jpg" alt="Snow Thrower Cab Pic">
										<span class="product-name">Universal Snow Thrower Cab</span>
										<span class="price">$109.99</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col one-fourth">
							<span class="old-price">$1,009.98</span>
							<span class="price">$954.98</span>
							<fieldset>
								<label>Quantity:</label> <input type="text" name="quantity" class="qty" />
								<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
							</fieldset>
						</div>
					</form>
				</div>
				<div class="product-combo">
					<h2>Storm&trade; 2840 Snow Thrower with Drift Cutter and Snow Cab Bundle</h2>
					<form action="/cart-calculator" method="post" class="group">
						<div class="col three-fourths">
							<div class="group product-pair">
								<div class="col one-third">
									<a href="#">
										<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-small.jpg" alt="Snow Thrower Pic">
										<span class="product-name">Storm&trade; 2840 Snow Thrower</span>
										<span class="price">$899.99</span>
									</a>
								</div>
								<div class="col one-third">
									<a href="#">
										<img src="/wcpics/TroyBiltUS/en_US/images/content/snowthrower-driftcutter-small.jpg" alt="Drift Cutter Kit">
										<span class="product-name">Drift Cutter Kit</span>
										<span class="price">$45.21</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col one-fourth">
							<span class="old-price">$1,055.19</span>
							<span class="price">$997.73</span>
							<fieldset>
								<label>Quantity:</label> <input type="text" name="quantity" class="qty" />
								<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
							</fieldset>
						</div>
					</form>
				</div>
			</section><!-- end promotions tab -->
			<div id="customer-reviews">
				<div class="review-overview">
					<a href="#" class="back-to-top floatright">Back to top <i class="icon icon-arrow-up"></i></a>
					<h2>Customer Reviews</h2>
					<span class="stars"><em>4.5</em></span>
					<h3 class="indenttext"><span class="rating-score">80%</span> <span class="rating-breakdown">24 of 30 reviewers would recommend this product to a friend.</span></h3>
					<a href="#" class="btn btn-grey write-review">Write a review</a>
					<div class="sort-by">
						<label for="sort-by">Sort by</label> 
						<select name="sort_by" id="sort-by">
							<option value="Date – newest first">Date – newest first</option>
						</select>
					</div>
				</div><!-- end reviews overview -->
				<ul class="review-list clean-list">
					<% 5.times do %>
					<li class="group review">
						<div class="col three-fourths with-gutter">
							<span class="stars"><em>4.5</em></span>
							<h4 class="date">August 1, 2012</h4>
							<h3>An Olympic Gold Medal Machine</h3>
							<p class="review-text">
								"There are features all around the machine without specifically pointing them out. If this machine couldn't accomplish all the Heavy snow work that needs to be done around the house/farm, you better stay inside and read a good book."
							</p>
							<p>
								Was this review helpful to you? <a href="#">Yes</a> <span class="yes-count">(0)</span>  <a href="#">No</a> <span class="no-count">(0)</span><br />
								<a href="#">Report inappropriate content</a>
							</p>
							<p>
								Share this review: 
								<a href="#" class="facebook-small">facebook</a> 
								<a href="#" class="twitter-small">twitter</a> 
								<a href="#" class="digg-small">digg</a> 
							</p>
						</div>
						<div class="col one-fourth">
							<img src="/wcpics/TroyBiltUS/en_US/images/top-10-contributer.png" alt="top 10 contributer" class="top-10" />
							<dl class="review-specs">
								<dt>Durability:</dt>
									<dd class="mark-5">
										<span class="performance-level">5</span>
										<i class="performance-container"><i class="performance-marker"></i></i>
									</dd>
								<dt>Performance:</dt>
									<dd class="mark-4">
										<span class="performance-level">5</span>
										<i class="performance-container"><i class="performance-marker"></i></i>
									</dd>
								<dt>Ease of Use:</dt>
									<dd class="mark-5">
										<span class="performance-level">4</span>
										<i class="performance-container"><i class="performance-marker"></i></i>
									</dd>
								<dt>Ease of Starting:</dt>
									<dd class="mark-5">
										<span class="performance-level">5</span>
										<i class="performance-container"><i class="performance-marker"></i></i>
									</dd>
							</dl>
							<h4 class="username"><a href="#" class="user-link">Motorman</a> (<a href="#" class="read-reviews">read all my reviews</a>)</h4>
							<dl class="user-info">
								<dt>Location:</dt>
									<dd>Michigan</dd>
								<dt>Gender:</dt>
									<dd>Male</dd>
								<dt>Lot Size:</dt>
									<dd>Less than 1/2 acre</dd>	
								<dt>Zone:</dt>
									<dd>4</dd>
							</dl>
						</div>
					</li>
					<% end %>
				</ul><!-- end reviews list-->
				<div class="paging">
					<span class="pagination">
						<span class="active">1</span> <a href="#" title="View Page 2">2</a> <a href="#" title="View Page 3">3</a> <a href="#" title="View Page 4">4</a> <a href="#" title="View Page 5">5</a> ... <a href="#" title="View Page 20">20</a> <a href="#" title="View Next Page" class="prev-next">Next >></a>
					</span>
				</div>	
			</div><!-- end customer reviews -->	
			<div class="product-footnote">
				<h2>Financing Offers</h2>
				<p>
					<strong>Deferred Interest if Paid in Full within 6 Months</strong> if purchased using your Troy-Bilt&reg; 
					Easy Pay Credit Card. Call 800-828-5500 for financing details and to apply. 
					<a href="#">Click here for details</a>
				</p>
			</div>
			<div class="product-footnote">
				<h2>Shipping Details</h2>
				<p>
					Please read and review these special considerations BEFORE ordering items that require truck freight 
					delivery. Truck freight companies DO NOT require their drivers to unload shipments. Additional expenses 
					may be charged to the customer if special arrangements need to be made by the shipping company to unload 
					merchandise. Troy-Bilt will not be responsible for any such additional charges.
			</div>
			<div class="product-footnote">
				<p>
					&#134; The owner's manual posted is for general information and use. To ensure the download of the owner's manual specific to your unit, we require a model and serial number. Click <a href="http://manuals.mtdproducts.com/mtd/public/list.jsp?BrandCode=10001" target="_blank">here</a> to enter that information.
				</p>
				<p>
					&#134; Models and pricing may vary by retailer. Please check with your retailer for specific availability and pricing.
				</p>
			</div>
		</div><!-- end product info tabs column -->
		<aside id="right-sidebar" class="col">
			<a href="#">
				<img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-espot.png" alt="Use the snow thrower selector" class="espot" />
			</a>
			<div class="sidebar-widget">
				<h2>Related Articles</h2>
				<ul class="clean-list article-list">
					<li>
						<a href="#">Snow and Ice Removal Tips</a>
					</li>
					<li>
						<a href="#">How to Prepare Your Snow Thrower for Winter Use</a>
					</li>
					<li>
						<a href="#">How to Clean Out a Clogged Snow Thrower Chute</a>
					</li>
				</ul>
			</div>	
			<div class="sidebar-widget">
				<h2>Related Products</h2>
				<ul class="clean-list related-products">
					<li>
						<form action="/cart-calculator" method="post">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/crossell-snowthrower.jpg" alt="Storm&trade; 3090 XP Snow Thrower" />
							<a href="#">Storm&trade; 3090 XP Snow Thrower</a>
							<span class="price">$1,099.99</span>
							<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
						</form>
					</li>
					<li>
						<form action="/cart-calculator" method="post">
							<img src="/wcpics/TroyBiltUS/en_US/images/content/crossell-snowthrower-cab.jpg" alt="Deluxe Universal Snow Thrower Cab" />
							<a href="#">Deluxe Universal Snow Thrower Cab</a>
							<span class="price">$1,099.99</span>
							<button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
						</form>
					</li>
				</ul>
			</div>
			<a href="#" title="Watch the video">
				<img src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg" alt="How We're Built. See What it Takes to Be Built for Life." class="espot" />
			</a>
		</aside>
	</section>
</div><!-- end main -->