<div id="main" class="container product-detail">
  <div class="page-top group">
      <div id="rightlinks">
        <ul class="share-bar">
          <li>
            <div class="fb-like" data-href="http://troy2013.herokuapp.com/products" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
          </li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
          </li>
          <li>
            <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
          </li>
          <li>
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          </li>
          <li>
            <script type="IN/Share"></script>
          </li>
          <li>
            <a href="/email-friend" rel="shadowbox;width=740;height=420" class="email" title="Email a Friend">Email a Friend</a>
          </li>
          <li class="last">
            <a href="javascript:window.print();" class="print" title="Print this page">Print</a>
          </li>
        </ul>
      </div>
      <div class="breadcrumbs">
          <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
          > 
          Snow Throwers
      </div>
  </div><!-- end page top -->
  <section class="product-listing-content">
    <div class="category-header">
      <h1>Snow Throwers</h1>
      <div class="cat-image">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-cat.jpg" alt="snow-thrower-pic" />
        <div class="caption">
          Snow piles up fast, but we help you blow through it with our full line of two-stage and single-stage snow throwers. Easy to start and easy to use, so you keep up with winter.
        </div>
      </div>
    </div><!-- end category header -->
    <div class="group">
      <aside id="left-sidebar" class="col">
        <a href="#" title="Use the snow thrower selector">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/snow-thrower-espot.png" alt="Use the snow thrower selector" class="espot" />
        </a>
        <div class="sidebar-widget">
          <h2>Narrow results</h2>
          <form class="filters" data-filter-page="/products" method="get" action="#">
            <p>
              <a href="/products">Clear all filters</a>
            </p>
            <h3>Price</h3>
            <ul>
              <li>
                <input type="checkbox" id="below-500" data-filter="price" name="below_500" /> 
                <label for="below-500">< $500</label>
              </li>
              <li>
                <input type="checkbox" id="500-1000" data-filter="price" name="500_1000" /> 
                <label for="500-1000">$500-$1000</label>
              </li>
              <li>
                <input type="checkbox" id="1000-1400" data-filter="price" name="1000_1400" /> 
                <label for="1000-1400">$1000-$1400</label>
              </li>
              <li>
                <input type="checkbox" id="above-1400" data-filter="price" name="above_1400" /> 
                <label for="above-1400">> $1400</label>
              </li>
            </ul>
            <h3>Thrower Type</h3>
            <ul>
              <li>
                <input type="checkbox" id="single-stage" data-filter="thrower_type" name="single_stage" /> 
                <label for="single-stage">Single-stage</label>
                <a href="javascript:showHide2('facet1_1')" onblur="javascript:showHide3('facet1_1')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet1_1')" class="tooltip">                                   
                  <div id="facet1_1" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Single-stage</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <input type="checkbox" id="two-stage" data-filter="thrower_type" name="two_stage" /> 
                <label for="two-stage">Two-stage</label>
                <a href="javascript:showHide2('facet1_2')" onblur="javascript:showHide3('facet1_2')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet1_2')" class="tooltip">                                   
                  <div id="facet1_2" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Two-stage</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <h3>Drive System</h3>
            <ul>
              <li>
                <input type="checkbox" id="track-drive" data-filter="drive_system" name="track_drive" /> 
                <label for="track-drive">Track drive</label>
                <a href="javascript:showHide2('facet2_1')" onblur="javascript:showHide3('facet2_1')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet2_1')" class="tooltip">                                   
                  <div id="facet2_1" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Track drive</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <input type="checkbox" id="all-wheel-drive" data-filter="drive_system" name="all_wheel_drive" /> 
                <label for="all-wheel-drive">All-wheel drive</label>
                <a href="javascript:showHide2('facet2_2')" onblur="javascript:showHide3('facet2_2')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet2_2')" class="tooltip">                                   
                  <div id="facet2_2" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">All-wheel drive</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <input type="checkbox" id="auger-assist" data-filter="drive_system" name="auger_assist" /> 
                <label for="auger-assist">AugerAssist&trade;</label>
                <a href="javascript:showHide2('facet2_3')" onblur="javascript:showHide3('facet2_3')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet2_3')" class="tooltip">                                   
                  <div id="facet2_3" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">AugerAssist&trade;</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <h3>Clearing Width</h3>
            <ul>
              <li>
                <input type="checkbox" id="21inch-24inch" data-filter="clearing_width" name="21inch_24inch" /> 
                <label for="21inch-24inch">21"-24"</label>
              </li>
              <li>
                <input type="checkbox" id="26inch-30inch" data-filter="clearing_width" name="26inch_30inch" /> 
                <label for="26inch-30inch">26"-30"</label>
              </li>
              <li>
                <input type="checkbox" id="above-30inch" data-filter="clearing_width" name="above_30inch" /> 
                <label for="above-30inch">> 30"</label>
              </li>
            </ul>
            <h3>Features</h3>
            <ul>
              <li>
                <input type="checkbox" id="one-hand-operation" data-filter="features" data-multiple="true" name="one_hand_operation" /> 
                <label for="one-hand-operation">Just One Hand&reg; operation</label>
                <a href="javascript:showHide2('facet3_1')" onblur="javascript:showHide3('facet3_1')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet3_1')" class="tooltip">                                   
                  <div id="facet3_1" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Just One Hand&reg; operation</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <input type="checkbox" id="touch-n-turn" data-filter="features" data-multiple="true" name="touch_n_turn" /> 
                <label for="touch-n-turn">Touch 'n Turn&reg; steering</label>
                <a href="javascript:showHide2('facet3_2')" onblur="javascript:showHide3('facet3_2')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet3_2')" class="tooltip">                                   
                  <div id="facet3_2" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Touch 'n Turn&reg; steering</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <input type="checkbox" id="heated-handles" data-filter="features" data-multiple="true" name="heated_handles" /> 
                <label for="heated-handles">Heated handles</label>
                <a href="javascript:showHide2('facet3_3')" onblur="javascript:showHide3('facet3_3')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet3_3')" class="tooltip">                                   
                  <div id="facet3_3" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Heated handles</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <input type="checkbox" id="electric-start" data-filter="features" data-multiple="true" name="electric_start" /> 
                <label for="electric-start">Electric start</label>
                <a href="javascript:showHide2('facet3_4')" onblur="javascript:showHide3('facet3_4')" class="icon-help">help</a>
                <a href="javascript:showHide3('facet3_4')" class="tooltip">                                   
                  <div id="facet3_4" class="tooltip2 png_crop" style="background:url(http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip.png); display:none;">
                    <div class="tooltipX"><img src="http://www.troybilt.com/wcpics/TroyBiltUS/en_US/images/facet/tooltip_x.png" border="0" /></div>
                    <div class="tooltiptitle">Electric start</div>
                    <div class="tooltipbody">                           
                      Description goes here
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </form>
        </div>
        <a href="#" title="Watch the video">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg" alt="How We're Built. See What it Takes to Be Built for Life." class="espot" />
        </a>
        <a href="#" title="Review now and you could win $2500!">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/espot-review-now.jpg" alt="Review now and you could win $2500!" class="espot" />
        </a>
      </aside><!-- end left sidebar -->
      <div class="product-list col">
        <div class="display-options group top">
          <div class="sorting col">
            <form action="#" method="get" class="sorting">
              <label for="sorting-option">Sort By</label>
              <select name="sorting_option"  data-filter-page="/products" class="sorting-option">
                <option value="">select</option>
                <option value="price-low"<%= params['price'] && params['price'] == 'low' ? ' selected="selected"' : '' %>>Price – low to high</option>
                <option value="price-high"<%= params['price'] && params['price'] == 'high' ? ' selected="selected"' : '' %>>Price – high to low</option>
              </select>
            </form>
          </div>
          <div class="views col">
            <span class="label">View as</span><a href="#" class="btn btn-grey active" data-toggle-el="#product-list-view" data-toggle-view="list-view">list <i class="icon-list-view"></i></a><a href="#" class="btn btn-grey" data-toggle-el="#product-list-view" data-toggle-view="grid-view">grid <i class="icon-grid-view"></i></a>
          </div>
          <div class="compare col">
            <a href="/products/compare" class="btn btn-grey compare">Compare</a>
          </div>
        </div><!-- end display options -->
        <div id="product-list-view" class="list-view">
        <% @products.each_with_index do |(id, p), i| %>
          <% if i % 3 == 0 %>
          <ul class="products">
          <% end %>
            <li class="product group" id="<%= id %>">
              <div class="product-img col">
                <a rel="shadowbox;width=750;height=375" href="/products/quick-view">
                  <img src="<%= p['image'] %>" alt="Snow Thrower Pic" />
                  <span class="quick-view">Quick view</span>
                </a>
              </div>
              <div class="product-info col">
                <a href="/products/detail">
                  <h2><%= p['name'] %></h2>
                  <p class="description"> 
                    <%= p['description'] %>
                  </p>
                  <h3 class="price">
                    $<%= p['price'] %> <span class="status"><%= p['status'] %></span>
                  </h3>
                </a>
                <p class="reviews">
                  <span class="stars"><em><%= p['rating'] %></em></span> 20 reviews 
                  <a href="/products/detail#customer-reviews" class="review-link">Read customer reviews</a>
                </p>
                <% if p['top_rated'] %>
                <p>
                  <img src="/wcpics/TroyBiltUS/en_US/images/top-rated.jpg" alt="Top Rated" />
                </p>
                <% end %>
              </div>
              <div class="compare col">
                <input type="checkbox" class="add-to-compare" data-compare="<%= id %>" id="compare-<%= id %>" />
                <label for="compare-<%= id %>">Compare</label>
              </div>
            </li>
          <% if i % 3 == 2 || i == @products.length - 1 %>
          </ul>
          <% end %>
        <% end %>
        </div><!-- end products -->
        <div class="product-list col">
        <div class="display-options group">
          <div class="sorting col">
            <form action="#" method="get" class="sorting">
              <label for="sorting-option">Sort By</label>
              <select name="sorting_option" data-filter-page="/products" class="sorting-option">
                <option value="">select</option>
                <option value="price-low"<%= params['price'] && params['price'] == 'low' ? ' selected="selected"' : '' %>>Price – low to high</option>
                <option value="price-high"<%= params['price'] && params['price'] == 'high' ? ' selected="selected"' : '' %>>Price – high to low</option>
              </select>
            </form>
          </div>
          <div class="views col">
            <span class="label">View as</span><a href="#" class="btn btn-grey active" data-toggle-el="#product-list-view" data-toggle-view="list-view">list <i class="icon-list-view"></i></a><a href="#" class="btn btn-grey" data-toggle-el="#product-list-view" data-toggle-view="grid-view">grid <i class="icon-grid-view"></i></a>
          </div>
          <div class="compare col">
            <a href="#compare" class="btn btn-grey compare">Compare</a>
          </div>
        </div><!-- end display options -->

      </div><!-- end right column -->
    </div>
  </section>
</div><!-- end main -->