<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/tips-advice-how-tos">Tips, Advice &amp; How-To’s</a>
        >
        The Dirt
    </div>
  </div><!-- end page top -->
  <section id="the-dirt-content" class="tips-advice-content">
    <div class="content-header group">
      <div class="col one-fourth">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/the-dirt-large.jpg" alt="The Dirt" />
      </div>
      <div class="col three-fifths">
        <h1><em>The Dirt</em> eNewsletter</h1>
        <p>
          <em>The Dirt</em> is Troy-Bilt’s eNewsletter. Every issue is filled with a wealth of lawn and garden knowledge. From seasonal advice to mower maintenance to fun articles from our Saturday6 bloggers, <em>The Dirt</em> offers something for everybody. 
        </p>
        <div class="cta group fifty-fifty">
          <h3>Get timely lawn care tips sent to your inbox every month.</h3>
          <a href="#" onclick="alert('link not implemented'); return false" class="btn btn-red btn-rnd medium btn-220">Sign up for <em>The Dirt</em></a>
        </div>
      </div>
    </div>
    <div class="article-video-library group">
      <div class="col one-half with-gutter">
        <h2>Issue 63: January 2013</h2>
        <h3>In this issue:</h3>
        <ul class="articles">
          <li><a href="#" onclick="alert('link not implemented'); return false">How to Improve Your Soil Quality from Troy-Bilt</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">How to Sharpen and Care for Your Walk-Behind Mower Blade</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">How to Store Your Troy-Bilt Riding Lawn Mower in the Off Season</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">Leaf Cleanup Tips and Leaf Removal Equipment from Troy-Bilt</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">Learn How to Control Weeds from Troy-Bilt</a></li>
          <li><a href="#" onclick="alert('link not implemented'); return false">The Difference Between Mulching Blades and High-Lift Blades</a></li>
        </ul>
        <div class="sidebar-widget">
          <h2>Featured Articles</h2>
          <ul class="articles">
            <li><a href="#" onclick="alert('link not implemented'); return false">Snow Removal Tips from Troy-Bilt</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">How to Sharpen and Care for Your Walk-Behind Mower Blade</a></li>
          </ul>
        </div>
      </div>
      <div class="col one-half with-left-gutter">
        <h2>Archive</h2>
        <h3>2013</h3>
        <ul class="articles">
          <li><a href="#" onclick="alert('link not implemented'); return false">Issue 63: January</a></li>
        </ul>
        <h3>2012</h3>
        <div class="group">
          <ul class="articles col one-third with-gutter">      
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 51: January</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 52: February</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 53: March</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 54: April</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 55: May</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 56: June</a></li>
          </ul>
          <ul class="articles col one-third with-gutter">      
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 57: July</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue58:  August</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 59: September</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 60: October</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 61: November</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 62: December</a></li>
          </ul>
        </div>
        <h3>2011</h3>
        <div class="group">
          <ul class="articles col one-third with-gutter">      
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 39: January</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 40: February</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 41: March</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 42: April</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 43: May</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 44: June</a></li>
          </ul>
          <ul class="articles col one-third with-gutter">      
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 45: July</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 46: August</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 47: September</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 48: October</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 49: November</a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false">Issue 50: December</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div><!-- end main -->