<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        Tips, Advice &amp; How-To’s
    </div>
  </div><!-- end page top -->
  <section class="tips-advice-content">
    <div class="content-header">
      <h1>Tips, Advice &amp; How-To’s</h1>
      <div class="cat-image">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-advice-banner.jpg" alt="Banner Image" />
        <div class="caption">
          Find articles and videos to get your lawn and garden in gear. Search for anything from gardening tips to mower maintenance to help with your string trimmer.
        </div>
      </div>
    </div><!-- end category header -->
    <ul class="categories">
      <li class="group">
        <div class="col one-fourth">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-lawn-care.jpg" alt="Lawn Care Thumbnail" />
        </div>
        <div class="col three-fifths description">
          <h2><a href="/tips-advice-how-tos/lawn-care">Lawn Care</a></h2>
          <p>
            It's no easy task keeping your yard healthy and green. We offer a wealth of knowledge on lawn care and how to get the most out of your Troy-Bilt&reg; riding mowers, walk-behind mowers, string trimmers and more. 
          </p>
          <p>
            <a href="/tips-advice-how-tos/lawn-care">View the Lawn Care Library</a>
          </p>
        </div>
      </li>
      <li class="group">
        <div class="col one-fourth">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-gardening.jpg" alt="Gardening Thumbnail" />
        </div>
        <div class="col three-fifths description">
          <h2><a href="/tips-advice-how-tos/gardening">Gardening</a></h2>
          <p>
            There’s nothing as fulfilling as keeping your own garden. The pride and enjoyment it brings is second to none. Here, you’ll find the best gardening tips and tricks for using your tiller, cultivator or garden tools.
          </p>
          <p>
            <a href="/tips-advice-how-tos/gardening">View the Gardening Library</a>
          </p>
        </div>
      </li>
      <li class="group">
        <div class="col one-fourth">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-trees-leaves.jpg" alt="Trees and Leaves Thumbnail" />
        </div>
        <div class="col three-fifths description">
          <h2><a href="/tips-advice-how-tos/trees-leaves">Trees and Leaves</a></h2>
          <p>
            Trees and foliage are a wonderful element in any yard. But they’re also a lot of work. In this category, you’ll find info on keeping up with the trees and leaves by using our chipper shredders, chipper shredder vacs, log splitters and leaf blowers.
          </p>
          <p>
            <a href="/tips-advice-how-tos/trees-leaves">View the Trees and Leaves Library</a>
          </p>
        </div>
      </li>
      <li class="group">
        <div class="col one-fourth">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-snow.jpg" alt="Snow Thumbnail" />
        </div>
        <div class="col three-fifths description">
          <h2><a href="/tips-advice-how-tos/snow">Snow</a></h2>
          <p>
            Whether you have a single-stage snow thrower or a two-stage snow thrower, this is the place to find articles and videos on maintenance for your snow thrower machines, and advice on how to best take on the winter weather. 
          </p>
          <p>
            <a href="/tips-advice-how-tos/snow">View the Snow Library</a>
          </p>
        </div>
      </li>
      <li class="group">
        <div class="col one-fourth">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-saturday6.jpg" alt="Saturday6&trade; Thumbnail" />
        </div>
        <div class="col three-fifths description">
          <h2><a href="/tips-advice-how-tos/meet-the-saturday6">Saturday6&trade;</a></h2>
          <p>
            These bloggers have teamed up with Troy-Bilt to share their experience with all things lawn and gardening. Follow along, as they bring you their best tips and tricks to help make your Saturday in the yard a rewarding one. 
          </p>
          <p>
            <a href="/tips-advice-how-tos/meet-the-saturday6">View the Saturday6&trade; Library</a>
          </p>
        </div>
      </li>
      <li class="group">
        <div class="col one-fourth">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-dirt.jpg" alt="The Dirt Thumbnail" />
        </div>
        <div class="col three-fifths description">
          <h2><a href="/tips-advice-how-tos/the-dirt"><em>The Dirt</em> eNewsletter</a></h2>
          <p>
            <em>The Dirt</em> is Troy-Bilt’s eNewsletter. Every issue is filled with a wealth of lawn and garden knowledge. From seasonal advice to mower maintenance to fun articles from our Saturday6 bloggers, <em>The Dirt</em> offers something for everybody. 
          </p>
          <p>
            <a href="/tips-advice-how-tos/the-dirt">View <em>The Dirt</em> Library</a>
          </p>
        </div>
      </li>
    </ul>
  </section>
</div><!-- end main -->