<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/tips-advice-how-tos">Tips, Advice &amp; How-To’s</a>
        >
        <a href="/tips-advice-how-tos/leaves-trees">Leaves and Trees</a>
        >  
        Leaf Cleanup Tips and Leaf Removal Equipment from Troy-Bilt
    </div>
  </div><!-- end page top -->
  <section id="article-detail-content" class="tips-advice-content group">
    <article class="main-col col">
      <h1>Leaf Cleanup Tips and Leaf Removal Equipment from Troy-Bilt</h1>
      <ul class="share-bar">
        <li>
          <div class="fb-like" data-href="http://troy2013.herokuapp.com/tips-advice-how-tos/article-b" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
        </li>
        <li>
          <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
        </li>
        <li>
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </li>
        <li>
          <script type="IN/Share"></script>
        </li>
        <li>
          <a href="/email-friend" rel="shadowbox;width=740;height=420" class="email" title="Email a Friend">Email a Friend</a>
        </li>
        <li class="last">
          <a href="javascript:window.print();" class="print" title="Print this page">Print</a>
        </li>
      </ul>
      <p>
        Fall foliage may be beautiful to look at, but think twice before you allow it to accumulate on your lawn. If you don't keep up with leaf removal, a blanket of leaves can suffocate your grass and block it from getting the sunlight, water and nutrients it needs. A good rule of thumb is that if you can't see your lawn through the leaves, it can't grow.
      </p>
      <p>
        Troy-Bilt offers a variety of leaf removal equipment, including blowers and chipper shredder vacuums. In addition to our reliable products, take advantage of these leaf removal tips to simplify your fall lawn care. Before you begin, be sure to pick up any rocks or other materials in your yard that could damage your leaf removal equipment.
      </p>
      <div class="group">
        <div class="article-pic">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/leaf-blower-tmb-large.jpg" alt="Leaf Blower Pic" />
        </div>
        <h2>Leaf removal with a blower</h2>
        <p>
          Using a leaf blower is one of the quickest ways to clear your yard. The <a href="#" onclick="alert('link not implemented'); return false">Troy-Bilt cordless blower</a> and <a href="#" onclick="alert('link not implemented'); return false">other leaf blowers from Troy-Bilt</a> will help you get all your debris in one place, making it easier to rake, bag and prepare for pickup. For simpler leaf removal, use a <a href="#" onclick="alert('link not implemented'); return false">blower with a vacuum feature</a> that will collect and bag the debris for you.
        </p>
      </div>
      <div class="group">
        <div class="article-pic floatright">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/mulch-leaves-tmb-large.jpg" alt="Leaf Blower Pic" />
        </div>
        <h2>Mulch leaves with your mower</h2>
        <p>
          If you only have a light scattering of leaves in your yard, you can use your <a href="#" onclick="alert('link not implemented'); return false">Troy-Bilt lawn mower</a> to bag most of them. Or, if you have a <a href="#" onclick="alert('link not implemented'); return false">mulching mower</a>, you can pass over your lawn until they are finely chopped. Instead of bagging and disposing of the mulched leaves, you can leave them on your grass. In addition to saving you the work of leaf removal, keeping the mulched leaves on your lawn will allow your grass and soil to absorb nutrients and organic matter. This fortification will help your lawn survive the winter months and improve its appearance in the spring.
        </p>
      </div>
      <div class="group">
        <div class="article-pic">
          <img src="/wcpics/TroyBiltUS/en_US/images/content/leaf-cleanup-tmb-large.jpg" alt="Leaf Blower Pic" />
        </div>
        <h2>Leaf cleanup and recycling with a chipper shredder vacuum</h2>
        <p>
          For heavier leaf fall, you should use equipment that was designed for leaf cleanup. A <a href="#" onclick="alert('link not implemented'); return false">chipper shredder vacuum</a> sucks up, shreds and bags leaves in one easy step. An <a href="#" onclick="alert('link not implemented'); return false">all-in-one shredder, vacuum and blower</a> also mulches leaves as you go. Once you've cleared the leaves, redistribute them over your lawn. Just be sure that you can still see the grass through the layer of chopped leaves.
        </p>
      </div>
      <h2>Composting your leaves</h2>
      <p>
        Another way to recycle your leaves is to use them to make compost. After you've used your mower or leaf removal equipment to shred your leaves, put them in a pile or a composting bin.  Then, mix in a source of nitrogen, such as grass clippings, to accelerate the decomposition process.  You should keep the leaves damp and turn them every few weeks.
      </p>
      <p>
        If you turn your leaves frequently, you can have compost in as little as three months.  How long it takes for leaves to decompose depends, in part, on the season.  Leaves decay more quickly in the summer than in the winter.  During the winter months, stop turning the leaves to prevent heat loss.  When your compost is ready, you can use it to fertilize your soil.  Before planting in the spring, use you Troy-Bilt garden tiller to mix your compost into your soil beds.
      </p>
      <p>
        Proper leaf cleanup will give your grass enough room to breathe and help it come back healthier in the spring.  Rely on Troy-Bilt for all the leaf removal equipment you need to make your fall leaf cleanup easier and more efficient, so you can get back to enjoying the weather.
      </p>
      <div class="sidebar-widget">
        <h2>Related Products</h2>
        <ul class="related-products group">
          <li class="col">
            <form action="/cart-calculator" class="cart" method="post">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/TB4HB-EC.jpg" alt="TB4HB EC Gas Leaf Blower" />
              <a href="/products/detail">TB4HB EC Gas Leaf Blower</a>
              <span class="price">$179.99</span>
              <button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
            </form>
          </li>
          <li class="col">
            <form action="/cart-calculator" class="cart" method="post">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/TB280-ES.jpg" alt='TB280 ES TriAction&reg; 21" Front Wheel Self-Propelled Mower' />
              <a href="/products/detail">TB280 ES TriAction&reg; 21" Front Wheel Self-Propelled Mower</a>
              <span class="price">$339.99</span>
              <button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
            </form>
          </li>
          <li class="col">
            <form action="/cart-calculator" class="cart" method="post">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/CSV-060.jpg" alt="CSV 060 Push Chipper Shredder Vac" />
              <a href="/products/detail">CSV 060 Push Chipper Shredder Vac</a>
              <span class="price">$529.99</span>
              <button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
            </form>
          </li>
        </ul>
      </div>
    </article>
    <aside class="right-sidebar col">
      <div class="sidebar-widget">
        <h2>Related Articles</h2>
        <ul class="articles">
          <li><a href="/tips-advice-how-tos/article-a">Your Perfect Lawn: 6 Steps in the Right Direction</a></li>
          <li><a href="/tips-advice-how-tos/article-a">The Difference Between Mulching Blades and High-Lift Blades</a></li>
          <li><a href="/tips-advice-how-tos/article-a">Seasonal Lawn Maintenance Tips</a></li>
        </ul>
      </div>
      <div class="sidebar-widget">
        <h2>Related Videos</h2>
        <ul class="videos">
          <li>
            <a href="/tips-advice-how-tos/video-detail">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-video-tmb1.jpg" alt="TB4BP EC Backpack Gas Leaf Blower Full Setup Video Thumbnail" />
              TB4BP EC Backpack Gas Leaf Blower Full Setup
            </a>
          </li>
          <li>
            <a href="/tips-advice-how-tos/video-detail">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-video-tmb2.jpg" alt="Saturday6&trade; – How to Build a Compost Bin" />
              Saturday6&trade; – How to Build a Compost Bin
            </a>
          </li>
        </ul>
      </div>
      <a class="espot" title="Watch the video" href="#" onclick="alert('link not implemented'); return false">
        <img alt="How We're Built. See What it Takes to Be Built for Life." src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg">
      </a>
    </aside>
  </section>
</div><!-- end main -->