<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/tips-advice-how-tos">Tips, Advice &amp; How-To’s</a>
        >
        Lawn Care
    </div>
  </div><!-- end page top -->
  <section class="tips-advice-content">
    <div class="group categories">
      <div class="col one-fourth">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/lawn-care-landing.jpg" alt="Lawn Care Thumbnail" />
      </div>
      <div class="col three-fifths">
        <h2>Lawn Care</h2>
        <p>
          It's no easy task keeping your yard healthy and green. We offer a wealth of knowledge on lawn care and how to get the most out of your Troy-Bilt&reg; riding mowers, walk-behind mowers, string trimmers and more. 
        </p>
      </div>
    </div>
    <ul class="categories expand-collapse">
      <li class="group">
        <a href="#lawn-care" class="group closed" id="lawn-care">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/general-lawn-care-tmb.jpg" alt="General Lawn Care Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>General Lawn Care</h2>
            <p>
              Articles and videos on creating and maintaining the perfect yard
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-1"> <label for="maintenance-repair-1">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-1"> <label for="tips-tricks-1">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->
      </li>
      <li class="group">
        <a href="#riding-mowers" class="group closed" id="riding-mowers">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/riding-mowers-tmb.jpg" alt="Riding Mowers Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Riding Mowers</h2>
            <p>
              Articles and videos on choosing, using and maintaining riding lawn mowers
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-2"> <label for="maintenance-repair-2">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-2"> <label for="tips-tricks-2">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
      <li class="group">
        <a href="#walk-behind-mowers" class="group closed" id="walk-behind-mowers">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/walk-behind-tmb.jpg" alt="Walk-Behind Mowers Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Walk-Behind Mowers</h2>
            <p>
              Articles and videos on choosing, using and maintaining walk-behind lawn mowers
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-3"> <label for="maintenance-repair-3">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-3"> <label for="tips-tricks-3">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
      <li class="group">
        <a href="#string-trimmers" class="group closed" id="string-trimmers">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/string-trimmer-tmb.jpg" alt="String Trimmers Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>String Trimmers</h2>
            <p>
              Articles and videos on 2-cycle string trimmers, 4-cycle string trimmers, the TrimmerPlus&reg; attachment system and JumpStart&trade; power start technology
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-4"> <label for="maintenance-repair-4">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-4"> <label for="tips-tricks-4">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
      <li class="group">
        <a href="#leaf-blowers" class="group closed" id="leaf-blowers">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/leaf-blowers-tmb.jpg" alt="Leaf Blowers Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Leaf Blowers</h2>
            <p>
              Articles and videos on using and maintaining handheld and backpack leaf blowers
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-5"> <label for="maintenance-repair-5">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-5"> <label for="tips-tricks-5">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
      <li class="group">
        <a href="#lawn-edgers" class="group closed" id="lawn-edgers">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/lawn-edgers-tmb.jpg" alt="Lawn Edgers Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Lawn Edgers</h2>
            <p>
              Articles and videos on using and maintaining lawn edgers 
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-6"> <label for="maintenance-repair-6">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-6"> <label for="tips-tricks-6">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
    </ul>
  </section>
</div><!-- end main -->