<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/tips-advice-how-tos">Tips, Advice &amp; How-To’s</a>
        >
        <a href="/tips-advice-how-tos/lawn-care">Lawn Care</a>
        >  
        Getting to Know Your Troy-Bilt Lawn Mower
    </div>
  </div><!-- end page top -->
  <section id="article-detail-content" class="tips-advice-content group">
    <article class="main-col col">
      <h1>Getting to Know Your Troy-Bilt Lawn Mower</h1>
      <!-- start share this -->
      <div class="share-this-buttons">
        <script type="text/javascript">var switchTo5x=true;</script>
        <span class='st_pinterest_hcount' displayText='Pinterest'></span>
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_sharethis_hcount' displayText='ShareThis'></span>
        <span class='st_email_hcount' displayText='Email'></span>
      </div>
      <!-- end share this -->
      <div class="video">
        <iframe width="425" height="272" src="http://www.youtube.com/embed/hVkNlXGQPZc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>
        This video will cover a quick, general overview of your Troy-Bilt riding lawn mower, along with some helpful tips to keep your mower running strong.  Before beginning, be sure your mower is on a flat level surface.
      </p>
      <dl>
        <dt>Step 1</dt>
        <dd>
          Start by connecting the battery cables. Remove the red battery terminal cover from the red terminal. Attach the red cable to the positive terminal.
        </dd>
        <dt>Step 2</dt>
        <dd>
          Next, remove the black battery terminal cover from the black terminal. Attach the black cable to the negative terminal.
        </dd>
        <dt>Step 3</dt>
        <dd>
          Once both cables are attached, place the red cap on the positive terminal. Do not allow wrench to come in contact with any metal.
        </dd>
        <dt>Step 4</dt>
        <dd>
          Check your engine's oil level with the dip stick before every use - since too little or too much oil can damage your engine.
        </dd>
        <dt>Step 5</dt>
        <dd>
          Fill the fuel tank.
        </dd>
        <dt>Step 6</dt>
        <dd>
          To start the mower, be sure you are seated back in the seat. If you are too far forward, the mower may not start.
        </dd>
        <dt>Step 7</dt>
        <dd>
          Engage the parking break. Check to be sure the PTO lever is in the off position and activate the choke.
        </dd>
        <dt>Step 8</dt>
        <dd>
          Turn the key to the start position. Once the mower has started, release the key and allow it to return to the on position. Now move the throttle to the rabbit position.
        </dd>
        <dt>Step 9</dt>
        <dd>
          To begin driving your mower, press the brake pedal to release the parking brake, move the shift lever to forward then press the drive pedal to increase your speed.
        </dd>
        <dt>Step 10</dt>
        <dd>
          To engage the blades, first, be sure that your throttle/choke lever is in the rabbit position. Then, push the PTO/Blade engage lever forward into the on position.
        </dd>
        <dt>Step 11</dt>
        <dd>
          Before each mowing, check your air filter for dirty, loose or damaged parts. It is highly recommended that the air filter, spark plugs, oil and oil filter are replaced every year when you prepare your mower for off-season storage.
        </dd>
        <dt>Step 12</dt>
        <dd>
          One last tip to remember is to add a fuel stabilizer to the fuel tank to prevent fuel from spoiling.
        </dd>
        <dt>Step 13</dt>
        <dd>
          There are many attachments and accessories available to help keep a beautiful lawn. Bagging is a highly recommended method of helping maintain a healthy lawn by reducing thatch build-up, increasing oxygen and nitrogen absorption and encouraging grass to grow in the bare areas of your yard.
        </dd>
        <dt>Step 14</dt>
        <dd>
          You can find a full list of attachments and accessories in your operator's manual or online at www.troybilt.com.
        </dd>
      </dl>
      <div class="sidebar-widget">
        <h2>Related Products</h2>
        <ul class="related-products group">
          <li class="col">
            <form action="/cart-calculator" class="cart" method="post">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/TB4HB-EC.jpg" alt="TB4HB EC Gas Leaf Blower" />
              <a href="/products/detail">TB4HB EC Gas Leaf Blower</a>
              <span class="price">$179.99</span>
              <button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
            </form>
          </li>
          <li class="col">
            <form action="/cart-calculator" class="cart" method="post">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/TB280-ES.jpg" alt='TB280 ES TriAction&reg; 21" Front Wheel Self-Propelled Mower' />
              <a href="/products/detail">TB280 ES TriAction&reg; 21" Front Wheel Self-Propelled Mower</a>
              <span class="price">$339.99</span>
              <button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
            </form>
          </li>
          <li class="col">
            <form action="/cart-calculator" class="cart" method="post">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/CSV-060.jpg" alt="CSV 060 Push Chipper Shredder Vac" />
              <a href="/products/detail">CSV 060 Push Chipper Shredder Vac</a>
              <span class="price">$529.99</span>
              <button class="btn btn-red cart-btn" data-product="1576420">Add to Cart</button>
            </form>
          </li>
        </ul>
      </div>
    </article>
    <aside class="right-sidebar col">
      <div class="sidebar-widget">
        <h2>Related Articles</h2>
        <ul class="articles">
          <li><a href="/tips-advice-how-tos/article-a">Your Perfect Lawn: 6 Steps in the Right Direction</a></li>
          <li><a href="/tips-advice-how-tos/article-a">The Difference Between Mulching Blades and High-Lift Blades</a></li>
          <li><a href="/tips-advice-how-tos/article-a">Seasonal Lawn Maintenance Tips</a></li>
        </ul>
      </div>
      <div class="sidebar-widget">
        <h2>Related Videos</h2>
        <ul class="videos">
          <li>
            <a href="/tips-advice-how-tos/video-detail">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-video-tmb1.jpg" alt="TB4BP EC Backpack Gas Leaf Blower Full Setup Video Thumbnail" />
              TB4BP EC Backpack Gas Leaf Blower Full Setup
            </a>
          </li>
          <li>
            <a href="/tips-advice-how-tos/video-detail">
              <img src="/wcpics/TroyBiltUS/en_US/images/content/tips-video-tmb2.jpg" alt="Saturday6&trade; – How to Build a Compost Bin" />
              Saturday6&trade; – How to Build a Compost Bin
            </a>
          </li>
        </ul>
      </div>
      <a class="espot" title="Watch the video" href="#" onclick="alert('link not implemented'); return false">
        <img alt="How We're Built. See What it Takes to Be Built for Life." src="/wcpics/TroyBiltUS/en_US/images/content/espot-how-built.jpg">
      </a>
    </aside>
  </section>
</div><!-- end main -->