<div id="main" class="container tips-advice">
  <div class="page-top group">
    <div class="breadcrumbs">
        <a href="http://www.troybilt.com/webapp/wcs/stores/servlet/topcategory_10001_14102_-1">Home</a> 
        > 
        <a href="/tips-advice-how-tos">Tips, Advice &amp; How-To’s</a>
        >
        Gardening
    </div>
  </div><!-- end page top -->
  <section class="tips-advice-content">
    <div class="group categories">
      <div class="col one-fourth">
        <img src="/wcpics/TroyBiltUS/en_US/images/content/gardening-landing.jpg" alt="Gardening Thumbnail" />
      </div>
      <div class="col three-fifths">
        <h2>Gardening</h2>
        <p>
          There’s nothing as fulfilling as keeping your own garden. The pride and enjoyment it brings is second to none. Here, you’ll find the best gardening tips and tricks for using your tiller, cultivator or garden tools.
        </p>
      </div>
    </div>
    <ul class="categories expand-collapse">
      <li class="group">
        <a href="#general-gardening" class="group closed" id="general-gardening">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/general-gardening-tmb.jpg" alt="General Lawn Care Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>General Gardening</h2>
            <p>
              Articles and videos on creating and maintaining the perfect garden
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-1"> <label for="maintenance-repair-1">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-1"> <label for="tips-tricks-1">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->
      </li>
      <li class="group">
        <a href="#tillers-cultivators" class="group closed" id="tillers-cultivators">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/tillers-tmb.jpg" alt="Tillers and Cultivators Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Tillers and Cultivators</h2>
            <p>
              Articles and videos on using and maintaining front-tine tillers, rear-tine tillers and garden cultivators
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-2"> <label for="maintenance-repair-2">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-2"> <label for="tips-tricks-2">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
      <li class="group">
        <a href="#garden-tools" class="group closed" id="garden-tools">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/garden-tools-tmb.jpg" alt="Garden Tools Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Garden Tools</h2>
            <p>
              Articles and videos on the best uses for Troy-Bilt&reg; gardening tools
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-3"> <label for="maintenance-repair-3">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-3"> <label for="tips-tricks-3">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
      <li class="group">
        <a href="#hauling-carts" class="group closed" id="hauling-carts">
          <div class="col tmb">
            <img src="/wcpics/TroyBiltUS/en_US/images/content/hauling-carts-tmb.jpg" alt="Hauling Carts Thumbnail" />
          </div>
          <div class="col four-fifths description">
            <h2>Hauling Carts</h2>
            <p>
              Articles and videos on using and maintaining hauling carts
            </p>
          </div>
        </a>
        <div class="article-video-library collapsed">
          <div class="filter-options">
            <strong>View all:</strong> 
            <input checked type="checkbox" name="maintenance_repair" id="maintenance-repair-4"> <label for="maintenance-repair-4">Maintenance and Repair</label> 
            <input checked type="checkbox" name="tips_tricks" id="tips-tricks-4"> <label for="tips-tricks-4">Tips and Tricks</label>
          </div>
          <div class="group">
            <div class="col one-third">
              <h3>Articles</h3>
              <ul class="articles" data-paginate="true" data-paginate-limit="12" data-paginate-child="li">
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Maintenance Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Self-Propelled Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Self-Propelled Mower Safety Tips</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Change the Spark Plug on a Self-Propelled Mower</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Change the Air Filter on Your Troy-Bilt Riding Mower</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">How to Sharpen and Care for Your Walk-Behind Mower Blade</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">How to Store Your Troy-Bilt Riding Lawn Mower in the Off-Season</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Lawn Care Tips: Year-Round Maintenance Tips from Troy-Bilt</a>
                </li>
                <li data-filter="tips_tricks">
                  <a href="/tips-advice-how-tos/article-b">Mulch Kit Installation</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-a">Push Mower Operation Tips</a>
                </li>
                <li data-filter="maintenance_repair">
                  <a href="/tips-advice-how-tos/article-b">Push Mower Safety Tips</a>
                </li>
              </ul>
            </div>
            <div class="col two-thirds with-left-gutter">
              <div class="videos" data-paginate="true" data-paginate-limit="9" data-paginate-child="li">
                <h3>Videos</h3>
                <ul class="group">
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      Troy-Bilt Blade Removal Tool
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Blade on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Drive Belt on a Troy Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Replace the Wheel on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Oil on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                  <li class="col one-third" data-filter="maintenance_repair">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Store Your Troy-Bilt Walk Behind Mower in the Off 
                    </a>
                  </li>
                  <li class="col one-third" data-filter="tips_tricks">
                    <a href="/tips-advice-how-tos/video-detail">
                      <img src="/wcpics/TroyBiltUS/en_US/images/content/video-fpo.jpg" alt="Video FPO Thumbnail" />
                      How to Change the Gas on a Troy-Bilt Walk Behind Mower
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end article video library -->        
      </li>
    </ul>
  </section>
</div><!-- end main -->