#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:8px solid #E21835;overflow:hidden;height:100px; background:#FBFBF1; color:#333; -moz-box-shadow: 0px 10px 10px #333; /* Firefox */
-webkit-box-shadow: 0px 10px 10px #333; /* Safari, Chrome */
box-shadow: 0px 10px 10px #333; /* CSS3 */ }
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#fff;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:36px;line-height:36px; z-index:999;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:15px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}

#sb-nav-close{/* optional image for close button.. background-image:url(close01.gif) top left no-repeat; */}
#sb-nav a#sb-nav-close {color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    line-height: 1em;
    margin-left: 3px;
    vertical-align: top;
    width: 55px;}

#sb-nav-next{background-image:url(/wcpics/TroyBiltUS/en_US/images/next.png);}
#sb-nav-previous{background-image:url(/wcpics/TroyBiltUS/en_US/images/previous.png);}
#sb-nav-play{background-image:url(/wcpics/TroyBiltUS/en_US/images/play.png);}
#sb-nav-pause{background-image:url(/wcpics/TroyBiltUS/en_US/images/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}



/**************************************************
    GLOBAL MODAL WINDOW
**************************************************/
body {font-size: 12px; font-family: Arial, sans-serif; color: #333; }


#sb-title-inner{display:none;}

.clear {clear:both;}
#map_overlay h1 {font-size:16px; color:#333; padding:5px 0 10px 0; margin-bottom:3px; font-weight:normal;}
#map_overlay p {color:#333;}

